body#tinymce {
    background: url("../images/boardBg.jpg") !important;
    color: #fff !important;
    font-size: 14px;
}
body#tinymce a {
    color: #fff;
}
body#tinymce a {
    text-decoration: underline;
}
body#tinymce a:hover {
    text-decoration: none;
}
body#tinymce table caption {
    color: #fff;
}
body#tinymce table th,
body#tinymce table td {
    color: #fff;
}
body#tinymce h1, body#tinymce h2, body#tinymce h3, body#tinymce h4, body#tinymce h5, body#tinymce h6 {
    color: #fff;
}
body#tinymce blockquote {
    border-left: 3px solid #fff;
}
body#tinymce table {
    font-size: 14px !important;
    border-color: #fff !important;
}
body#tinymce th {
    color: #fff !important;
    font-size: 14px !important;
}
body#tinymce td {
    font-size: 14px !important;
    color: #fff; 
    border: 1px solid #fff !important;
}
body#tinymce caption {
    color: #fff !important;
}