@font-face {
    font-family: 'chalk';
    src: url("../fonts/chalk.eot");
    src: local("☺"),
        url("../fonts/chalk.woff") format("woff"),
        url("../fonts/chalk.ttf") format("truetype"),
        url("../fonts/chalk.svg#chalk") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fontello';
    src: url("../fonts/fontello.eot?4929588");
    src: url("../fonts/fontello.eot?4929588#iefix")format("embedded-opentype"),
         url("../fonts/fontello.woff2?4929588") format("woff2"),
         url("../fonts/fontello.woff?4929588") format("woff"),
         url("../fonts/fontello.ttf?4929588") format("truetype"),
         url("../fonts/fontello.svg?4929588#fontello") format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/pts55f.eot');
    src: url('../fonts/pts55f.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pts55f.woff2') format('woff2'),
         url('../fonts/pts55f.woff') format('woff'),
         url('../fonts/pts55f.ttf') format('truetype'),
         url('../fonts/pts55f.svg#pt_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans Bold';
    src: url('../fonts/pts75f.eot');
    src: url('../fonts/pts75f.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pts75f.woff2') format('woff2'),
         url('../fonts/pts75f.woff') format('woff'),
         url('../fonts/pts75f.ttf') format('truetype'),
         url('../fonts/pts75f.svg#pt_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
.icon-left-open-big:before {
    content: '\e800'
}
.icon-right-open-big:before {
    content: '\e801'
}
.icon-up-open-big:before {
    content: '\e802'
}
.icon-down-open-big:before {
    content: '\e803'
}
.icon-quote:before {
    content: '\e804'
}
.icon-calendar:before {
    content: '\e805'
}
.icon-emo-happy:before {
    content: '\e806'
}
.icon-cancel:before {
    content: '\e807'
}
.icon-clock:before {
    content: '\e808'
}
.icon-menu:before {
    content: '\e819'
}
.icon-font-default:before {
    content: '\e81b'
}
.icon-font-bigger:before {
    content: '\e81c'
}
.icon-font-biggest:before {
    content: '\e81d'
}
.icon-contrast:before {
    content: '\e81e'
}
.icon-protected:before {
    content: '\e81f'
}
.icon-search:before {
    content: '\e820'
}
.icon-doc-text-inv:before {
    content: '\f15c'
}
html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
body#tinymce {
    margin: 0;
    padding: 20px;
    background: #f8ffe2;
    font-family: 'PT Sans', sans-serif;
    color: #6b7450;
    font-size: 14px;
}
body#tinymce p {
    margin: 0 0 10px;
}
body#tinymce a {
    color: #ff7f01;
    outline: none;
}
body#tinymce a:link,
body#tinymce a:visited {
    text-decoration: underline;
}
body#tinymce a:hover,
body#tinymce a:focus {
    text-decoration: none;
}
body#tinymce img {
    max-width: 100%;
    height: auto;
}
body#tinymce h1,
body#tinymce h2,
body#tinymce h3,
body#tinymce h4,
body#tinymce h5,
body#tinymce h6 {
    text-align: center;
    font-family: 'PT Sans Bold', sans-serif;
    line-height: 1.1;
    color: #75a111;
}
body#tinymce h1 {
    font-size: 36px;
}
body#tinymce h2 {
    font-size: 27px;
}
body#tinymce h3 {
    font-size: 24px;
}
body#tinymce h4 {
    font-size: 20px;
}
body#tinymce h5 {
    font-size: 18px;
}
body#tinymce h6 {
    font-size: 16px;
}
body#tinymce table {
    margin: 10px 0;
    width: 100%; 
    border-collapse: collapse; 
    border: 1px solid #6b7450;
    background-color: transparent;
}
body#tinymce table th {
    font-size: 14px !important;
    font-weight: normal; 
    padding: 5px; 
    background: #6b7450;
    color: #fff;
}
body#tinymce table td {
    font-size: 14px !important;
    color: #6b7450; 
    padding: 5px; 
    border: 1px solid #6b7450;
}
body#tinymce table caption {
    font-weight: normal; 
    padding: 5px 0;  
    color: #6b7450;
    text-transform: uppercase;
}
body#tinymce blockquote {
    font-size: 14px;
    margin: 0 0 20px;
    padding: 10px 20px;
    border-left: 3px solid #6b7450;
}
body#tinymce cite {
    font-style: normal;
    color: #7b7b7b;
    border: none;
}