* {
  outline-width: 0;
}

*:focus {
  outline-width: 0;
}

html, body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  font-family: 'PT Sans', sans-serif;
  color: #6b7450;
  -webkit-font-smoothing: antialiased;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4em;
  overflow-x: hidden;
  background: #f8ffe2;
}

.page {
  position: relative;
  display: block !important;
  background: #f8ffe2;
  background: linear-gradient(to bottom, #fffc37 0px, #fffc37 50px, #f8ffe2 400px);
}

img {
  max-width: 100%;
}

.label, label {
  white-space: normal;
  text-align: left;
  border-radius: 0;
  line-height: inherit;
  display: inline-block;
}

p, span, a, h2, h3 {
  max-width: 100%;
}

* {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

input[type="radio"]:focus {
  outline: 2px solid #000 !important;
  outline-offset: 2px !important;
}

.dropdown-backdrop {
  display: none;
}

form, fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

legend {
  position: absolute;
  left: -9000em;
}

input, select, textarea {
  font-size: 1.4rem;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  display: inline-block;
  transition: all .3s ease-in-out;
}

a:hover, a:focus {
  color: currentColor;
}

a:focus {
  text-decoration: none;
}

a[href^="mailto:"] {
  word-break: break-all;
}

.button, button[type="submit"], a.button, .butForm, .questionnaire .btnForm {
  transition: all .3s ease;
  border: 3px solid #ff7e00;
  border-radius: 10px;
  font-size: 1.4rem;
  line-height: 18px;
  min-height: 35px;
  padding: 6px 8px 5px;
  text-align: center;
  background: linear-gradient(to bottom, #ffc000 0%, #ff7f00 100%);
  background-color: #ff8300;
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.2);
  text-shadow: 0px 1px 0px #ffbd00;
  text-transform: uppercase;
  color: #693400 !important;
  font-family: 'PT Sans Bold', sans-serif;
  text-decoration: none !important;
}

.button:hover, button[type="submit"]:hover, a.button:hover, .butForm:hover, .questionnaire .btnForm:hover {
  background-position: 0 -29px;
  text-decoration: none;
}

blockquote {
  border-left-color: #6b7450;
  font-size: 1.4rem;
}

.skip-links {
  position: absolute;
  top: 0;
}

.skip-links a, .skip-links a:visited {
  display: inline-block;
  left: -9999px;
  padding: 7px 10px;
  position: absolute;
  text-decoration: none;
  z-index: 100;
  min-width: 200px;
  text-align: center;
  transition: opacity 0.3s ease 0s;
  opacity: 0;
}

.skip-links a:focus, .skip-links a:hover, .skip-links a:active, .skip-links a:visited:focus, .skip-links a:visited:hover, .skip-links a:visited:active {
  left: 0;
  background-color: #6b7450;
  color: #fff;
  opacity: 1;
  outline: none;
}

.no-outline {
  outline: none !important;
}

a:focus, button:focus, .menu-top .navbar-toggl:focus, .dropdown-toggle:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

[data-whatinput='keyboard'] *:focus {
  outline: 2px solid #000 !important;
  outline-offset: 0 !important;
  display: inline-block;
  opacity: 1 !important;
}

[data-whatinput='keyboard'] .sidebar-menu li a:focus {
  outline: 0 !important;
  outline-width: 0 !important;
  box-shadow: 0px 0px 0px 1px #000;
}

h3 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 2.4rem;
}

h4, h5, h6 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.4rem;
}

h6 {
  font-size: 1.2rem;
}

#content_txt table {
  margin: 10px 0;
}

#content_txt h1, #content_txt h2, #content_txt h3, #content_txt h4, #content_txt h5, #content_txt h6 {
  color: #75a111;
  font-family: 'PT Sans Bold', sans-serif;
  text-align: center;
}

#content_txt .main-text a {
  color: #ff7f01;
  text-decoration: underline;
}

#content_txt .main-text a:hover {
  text-decoration: none;
}

#content_txt .main-text .article a {
  text-decoration: none;
}

#content_txt .main-text .button-wrapper a {
  color: #e67100;
  text-decoration: none;
}

#content_txt .main-text h1, #content_txt .main-text h2, #content_txt .main-text h3, #content_txt .main-text h4, #content_txt .main-text h5, #content_txt .main-text h6 {
  color: #75a111;
  font-family: 'PT Sans Bold', sans-serif;
  text-align: left;
}

#content_txt .main-text h3 {
  font-size: 2.4rem;
}

#content_txt .main-text h6 {
  font-size: 1.6rem;
}

#content_txt .main-text h5 {
  font-size: 1.8rem;
}

#content_txt .main-text h4 {
  font-size: 2rem;
}

#content_txt .main-text h2 {
  margin: 15px 0;
  font-size: 2.7rem;
}

#content_txt .content-header {
  font-size: 2.6rem !important;
  color: #75a111 !important;
  font-family: 'PT Sans Bold', sans-serif;
  position: relative;
  padding: 16px 0 16px;
  text-align: center !important;
  overflow: hidden;
  margin: 0 0 20px;
}

#content_txt .content-header:before {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 847px;
  height: 55px;
  pointer-events: none;
  transform: translateX(-50%);
  background-image: url("../images/header-decoration.png");
}

#content_txt .content-header span {
  position: relative;
  z-index: 2;
}

#content_txt #welcome {
  padding: 0 0 20px 0;
}

#content_txt #welcome a {
  color: #ff7f01;
  text-decoration: underline;
}

#content_txt #welcome a:hover {
  text-decoration: none;
}

#content_txt img {
  overflow: hidden;
  height: auto;
}

#content_txt table {
  width: 100%;
}

#content_txt .authorName {
  margin: 30px 0;
}

#content_txt .authorName span {
  font-weight: normal;
}

#content_txt iframe {
  border: 2px solid #ff7f01;
  max-width: 100%;
  box-sizing: border-box;
}

#content_txt .Tweet, #content_txt .FBLike {
  display: inline-block;
  vertical-align: top;
  margin: 5px 0;
}

#content_txt .Tweet iframe, #content_txt .FBLike iframe {
  border: none;
}

#content_txt iframe ~ small {
  text-align: center;
  display: block;
  font-family: 'PT Sans Bold', sans-serif;
}

#content_txt iframe ~ small a, #content_txt iframe ~ small a:visited {
  color: #6b7450 !important;
  text-decoration: none !important;
}

#content_txt iframe ~ small a:hover {
  color: #6b7450 !important;
  text-decoration: underline !important;
}

#flashclock {
  display: none;
}

input[type=text],
input[type=search],
input[type=password],
input[type=submit],
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=text],
input[type=search],
input[type=password],
textarea {
  color: #597308;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 0 10px;
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.2);
}

input[type=text],
input[type=search],
input[type=password] {
  height: 36px;
  line-height: 34px;
}

textarea {
  line-height: 18px;
  padding: 10px;
}

.dropdown-menu > li > a {
  white-space: normal;
}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
  background: transparent;
}

table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border: 1px solid #6b7450;
}

table th {
  font-weight: normal;
  padding: 5px;
  background: #6b7450;
  color: #fff;
}

table td {
  color: #6b7450;
  padding: 5px;
  border: 1px solid #6b7450;
}

table caption {
  font-weight: normal;
  padding: 5px 0;
  color: #6b7450;
  text-transform: uppercase;
}

.page-content-mobile, a#top {
  display: none;
}

.page-content {
  padding-top: 0;
}

div[aria-hidden="true"] {
  display: inline;
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  html {
    font-size: 58.25%;
  }
}

@media screen and (max-width: 991px) {
  .page-content-mobile {
    display: block;
  }
  .sm-offset-center {
    float: none;
    margin: 0 auto;
  }
}

@media screen and (max-width: 767px) {
  .table-responsive {
    border: 0;
  }
  #content_txt img {
    max-width: 100% !important;
  }
}

.toolbar {
  height: 49px;
  border-bottom: 3px solid #ff7f01;
  background-color: #fdfff5;
  position: absolute;
  z-index: 5;
  width: 100%;
  left: 0;
  right: 0;
}

.toolbar__elements {
  font-size: 0;
}

.toolbar__elements li {
  display: inline-block;
  font-size: 1.4rem;
  line-height: 46px;
}

.toolbar__elements li.bip svg {
  transform: translateY(5px);
}

.toolbar__elements li.fontsize {
  margin: 0 4px;
  line-height: 16px;
  vertical-align: bottom;
  padding: 0 0 13px;
}

.toolbar__elements li.fontsize--label {
  vertical-align: middle;
  padding: 0;
  margin-right: 8px;
  transform: translateY(-4px);
}

.toolbar__elements li.contrast a {
  width: 30px;
  height: 30px;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-image: url("../images/toolbar/contrast.png");
  background-position: 5px 5px;
  vertical-align: middle;
  margin: 0 23px 0 12px;
  display: inline-block;
}

.toolbar__elements li.searchbar {
  width: 235px;
  height: 34px;
  position: relative;
  top: 5px;
}

.toolbar__elements li.searchbar form {
  display: block;
  height: 34px;
}

.toolbar__elements li.searchbar input[type="text"] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 0;
  z-index: 4;
  display: block;
  width: 235px;
  height: 34px;
  line-height: 34px;
  font-size: 1.3rem;
  border-radius: 10px;
  padding-right: 75px;
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.2);
}

.toolbar__elements li.searchbar button {
  right: 0;
  bottom: 0;
  z-index: 5;
  position: absolute;
  height: 34px;
}

.toolbar__elements li.searchbar button:hover {
  background-position: 0 -28px;
}

.toolbar__elements--left {
  float: left;
}

.toolbar__elements--left li {
  font-family: 'PT Sans Bold', sans-serif;
  color: #597308;
}

.toolbar__elements--left li:not(:last-child) {
  margin-right: 29px;
}

.toolbar__elements--left li:not(:last-child) svg {
  display: inline-block;
  margin: 0 5px 0 0;
  transform: translateY(3px);
}

.toolbar__elements--left li a {
  color: currentColor;
}

.toolbar__elements--left li a:hover {
  text-decoration: none;
}

.toolbar__elements--left li a:hover span {
  text-decoration: underline;
}

.toolbar__elements--right {
  float: right;
}

.toolbar__home--path1 {
  fill: #858585;
}

.toolbar__home--path2 {
  fill: #e47100;
}

.toolbar__home--path3 {
  fill: #d0f94e;
}

.toolbar__home--path4 {
  fill: #ff7e00;
}

.toolbar__sitemap--path1 {
  fill: #ff7e00;
}

.toolbar__sitemap--path2 {
  fill: #d0f94e;
}

.toolbar__bip--path1 {
  fill: #c00418;
}

.toolbar__font--path1 {
  fill: #597308;
}

@media screen and (max-width: 991px) {
  .toolbar {
    position: relative;
  }
  .toolbar .container {
    width: 100% !important;
  }
  .toolbar__elements li.fontsize {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .toolbar__elements li {
    font-size: 0;
  }
  .toolbar__elements li.searchbar button {
    font-size: 1.4rem;
  }
  .toolbar__elements li.bip svg {
    transform: translateY(10px);
  }
  .toolbar__elements--left li:not(:last-child) {
    margin-right: 25px;
  }
  .toolbar__elements--left li:not(:last-child) svg {
    display: inline-block;
    margin: 0;
    transform: translateY(8px);
  }
}

@media screen and (max-width: 479px) {
  .toolbar__elements li.searchbar {
    width: 80px;
  }
  .toolbar__elements li.searchbar input[type="text"] {
    display: none;
  }
  .toolbar__elements li.searchbar .show input[type="text"] {
    display: block;
    left: auto;
  }
}

.navbar {
  position: relative;
  min-height: 0;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 12px 0;
}

.navbar .col-xs-12 {
  position: static;
}

.navbar .row > div {
  min-height: 0;
}

.navbar .topMenu {
  position: relative;
  z-index: 3;
  font-size: 0;
  transform: translateY(-33px);
  text-align: center;
}

.navbar .topMenu li {
  font-family: 'PT Sans Bold', sans-serif;
  font-size: 18px;
  display: inline-block;
  position: relative;
  max-width: 100%;
}

.navbar .topMenu li:not(:last-child):after {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateX(50%) translateY(-50%);
  pointer-events: none;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../images/circle.svg");
}

.navbar .topMenu li a {
  display: block;
  color: #693400;
  padding: 8px 18px;
  text-shadow: 0px 1px 0px rgba(255, 189, 0, 0.4);
}

.navbar .topMenu li a:hover, .navbar .topMenu li a.selected {
  color: #fffd79;
  text-decoration: none;
}

.navbar .topMenu .dropdown-menu {
  background-color: #ff7e00;
  width: 211px;
  z-index: 6;
  left: 50%;
  transform: translateX(-50%);
  float: none;
  border: 0;
  padding: 14px 6px 0;
  border-radius: 0;
  box-shadow: none;
}

.navbar .topMenu .dropdown-menu:after {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  content: '';
  width: 223px;
  height: 32px;
  display: block;
  position: absolute;
  left: 50%;
  bottom: -32px;
  background-image: url("../images/toolbar/dropdown-menu-bottom.png");
  transform: translateX(-50%);
}

.navbar .topMenu .dropdown-menu > li {
  display: block;
}

.navbar .topMenu .dropdown-menu > li:not(:last-child):before {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  content: '';
  display: block;
  width: 206px;
  height: 47px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(50%);
  pointer-events: none;
  background-image: url("../images/toolbar/dropdown-menu-shadow.png");
}

.navbar .topMenu .dropdown-menu > li:not(:last-child):after {
  right: 50%;
  top: 100%;
  transform: translateX(50%) translateY(-50%);
}

.navbar .topMenu .dropdown-menu > li > a {
  font-size: 1.8rem;
  line-height: 22px;
  font-family: 'PT Sans Bold', sans-serif;
  padding: 10px 18px;
  width: 100%;
  color: #693400;
  display: block;
  text-align: center;
}

.navbar .topMenu .dropdown-menu > li > a:hover {
  color: #fffd79;
  text-decoration: none;
}

.navbar__outer {
  position: absolute;
  top: -52px;
  left: 50%;
  transform: translateX(-50%);
  height: calc(100% + 38px);
  bottom: 0;
  width: 1170px;
  z-index: 0;
}

.navbar__inner {
  position: absolute;
  z-index: 2;
  top: -34px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  height: 100%;
  width: 1270px;
}

.navbar__outer--path {
  fill: #caf846;
}

.navbar__outer--path1 {
  fill: #ff7e00;
}

@media screen and (max-width: 1199px) {
  .navbar__outer {
    width: 970px;
  }
  .navbar__inner {
    width: 1070px;
  }
}

@media screen and (min-width: 992px) {
  .navbar {
    min-height: 65px;
    display: block !important;
  }
}

@media screen and (max-width: 991px) {
  .navbar__inner, .navbar__outer {
    display: none;
  }
  .menu-top {
    position: relative;
    z-index: 6;
  }
  .navbar {
    padding: 0;
    background-color: #ff7f01;
  }
  .navbar .topMenu {
    border-top: 3px solid #fff;
    transform: translateX(-15px);
    width: calc(100% + 30px);
    background-color: #ff7f01;
  }
  .navbar .topMenu li {
    display: block;
  }
  .navbar .topMenu li:not(:last-child):after {
    display: none;
  }
  .navbar .topMenu li a {
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  }
  .navbar .topMenu .dropdown-menu {
    position: static;
    width: 100%;
    transform: none;
    padding: 0;
    background-color: #ee6e00;
  }
  .navbar .topMenu .dropdown-menu:after {
    display: none;
  }
  .navbar .topMenu .dropdown-menu > li:not(:last-child):before, .navbar .topMenu .dropdown-menu > li:not(:last-child):after {
    display: none;
  }
  .navbar .topMenu .dropdown-menu > li > a {
    padding: 8px 18px;
    color: #fff;
  }
  .navbar .container {
    width: 100%;
  }
  .navbar-collapse {
    position: absolute;
    width: 100%;
    top: 50px;
    left: 0;
    right: 0;
    overflow: hidden;
    padding: 0;
  }
  .navbar-collapse.collapse {
    overflow: hidden !important;
    height: 0 !important;
  }
  .navbar-collapse.collapse.in {
    overflow: visible !important;
    height: auto !important;
  }
  .navbar-header {
    display: block;
    float: none;
  }
  .navbar-toggle {
    float: none;
    display: block;
    width: 100%;
    padding: 13px 15px;
    margin: 0;
  }
  .navbar-toggle i {
    margin-left: 0;
    pointer-events: none;
    transition: all .3s ease;
    display: block;
    width: 36px;
    height: 3px;
    background-color: #fff;
  }
  .navbar-toggle i:not(:last-of-type) {
    margin-bottom: 7px;
  }
  .navbar-toggle[aria-expanded="true"] i:first-of-type {
    transform: rotate(45deg) translateX(8px) translateY(7px);
  }
  .navbar-toggle[aria-expanded="true"] i:nth-of-type(2) {
    opacity: 0;
  }
  .navbar-toggle[aria-expanded="true"] i:last-of-type {
    transform: rotate(-45deg) translateX(7px) translateY(-6px);
  }
  .navbar-top {
    display: none;
  }
}

.header {
  position: relative;
}

.header:before, .header:after {
  content: " ";
  display: table;
}

.header:after {
  clear: both;
}

.header__background {
  width: 100%;
  height: 548px;
  position: absolute;
  left: 0;
  right: 0;
  background-size: auto auto;
  background-position: center top;
  background-image: url("../images/header/background.png");
  background-repeat: no-repeat;
}

.header__content {
  float: left;
  margin: 229px 0 100px;
  width: 390px;
  padding: 0 35px 0 50px;
}

.header__content .name {
  font-family: 'PT Sans Bold', sans-serif;
  font-size: 2.4rem;
  line-height: 27px;
  color: #344500;
  margin: 0 0 15px;
}

.header__address {
  font-size: 1.6rem;
  line-height: 19px;
  font-family: 'PT Sans Bold', sans-serif;
  margin: 21px 0 0;
  color: #344500;
}

.header__address p {
  margin: 0;
}

.header__address a {
  word-break: break-all;
  text-decoration: underline;
  color: currentColor;
}

.header__address a:hover {
  text-decoration: none;
}

#banner {
  width: 750px;
  height: 503px;
  float: left;
  position: relative;
}

#banner:before, #banner:after {
  content: '';
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  z-index: 3;
  pointer-events: none;
}

#banner:before {
  background-image: url("../images/header/banner-leaves.png");
  width: 156px;
  height: 210px;
  top: 270px;
  left: -2px;
}

#banner:after {
  background-image: url("../images/header/banner-leaf.png");
  width: 149px;
  height: 216px;
  top: 26px;
  right: -3px;
}

.banner__back {
  position: absolute;
  top: 0;
  left: 0;
  width: 706px;
  height: 492px;
}

.banner__back path {
  fill: #ff7e00;
  stroke: #ff7e00;
}

.banner__outer {
  position: absolute;
  top: 0;
  left: 15px;
  width: 735px;
  height: 503px;
}

.banner__outer path {
  fill: #d0f94e;
}

.banner__photo {
  transform: translateX(23px) translateY(-45px);
  position: relative;
}

.banner__photo svg {
  width: 700px;
  height: 535px;
}

@media screen and (max-width: 1199px) {
  .header__content {
    padding: 0 15px;
    margin: 140px 0 80px;
    width: 320px;
  }
  #banner {
    width: 620px;
    height: 416px;
  }
  #banner:before {
    top: 183px;
    left: -16px;
  }
  .banner__back {
    width: 576px;
    height: 401px;
  }
  .banner__outer {
    width: 605px;
    height: 414px;
  }
  .banner__photo {
    transform: translateX(23px) translateY(-42px);
  }
  .banner__photo svg {
    width: 568px;
    height: 434px;
  }
}

@media screen and (max-width: 991px) {
  #banner {
    margin: 0 auto;
    float: none;
  }
  #banner:after {
    top: -20px;
  }
  .header__content {
    float: none;
    margin: 20px auto 0;
    width: 100%;
    max-width: 320px;
    padding: 0;
  }
}

@media screen and (max-width: 639px) {
  #banner {
    width: 450px;
    height: 302px;
  }
  #banner:before {
    top: 140px;
  }
  #banner:after {
    right: 0;
  }
  .banner__back {
    width: 406px;
    height: 283px;
  }
  .banner__outer {
    width: 435px;
    height: 298px;
  }
  .banner__photo {
    transform: translateX(23px) translateY(-23px);
  }
  .banner__photo svg {
    width: 398px;
    height: 304px;
  }
}

@media screen and (max-width: 479px) {
  #banner {
    width: 370px;
    height: 248px;
  }
  #banner:before, #banner:after {
    transform: scale(0.6);
    transform-origin: 50% 0;
  }
  .banner__back {
    width: 340px;
    height: 237px;
  }
  .banner__outer {
    width: 350px;
    height: 240px;
  }
  .banner__photo svg {
    width: 330px;
    height: 252px;
  }
}

@media screen and (max-width: 400px) {
  #banner {
    width: 290px;
    height: 195px;
  }
  #banner:before, #banner:after {
    transform: scale(0.4);
  }
  #banner:before {
    top: 105px;
    left: -35px;
  }
  #banner:after {
    right: -30px;
  }
  .banner__back {
    width: 265px;
    height: 185px;
  }
  .banner__outer {
    width: 280px;
    height: 192px;
  }
  .banner__photo svg {
    width: 250px;
    height: 191px;
  }
}

.modules-top {
  position: relative;
  z-index: 1;
  transform: translateY(-80px) translateX(-20px);
  width: 862px;
  margin-bottom: -74px;
}

.modules-top:before, .modules-top:after {
  content: " ";
  display: table;
}

.modules-top:after {
  clear: both;
}

.modules-top .row {
  text-align: center;
  font-size: 0;
}

.modules-top #mod_contact a[href^="mailto:"] {
  text-decoration: underline;
}

.modules-top #mod_contact a[href^="mailto:"]:hover {
  text-decoration: none;
}

.modules-top #mod_login .modules-top__content {
  text-align: left;
  float: none;
  width: 100%;
}

.modules-top #mod_login .modules-top__icon {
  display: none;
}

.modules-top #mod_login input[type="text"],
.modules-top #mod_login input[type="password"] {
  width: calc(100% - 60px);
}

.modules-top #mod_login label {
  width: 60px;
}

.modules-top #mod_login input[type="submit"] {
  margin-left: 60px;
}

.modules-top #mod_calendar .modules-top__content {
  float: none;
  width: 100%;
  padding-right: 80px;
}

.modules-top #mod_calendar .clock-container {
  position: absolute;
  top: 0;
  right: 0;
}

.modules-top #mod_calendar .modules-top__icon {
  display: none;
}

.modules-top__module:before, .modules-top__module:after {
  content: " ";
  display: table;
}

.modules-top__module:after {
  clear: both;
}

.modules-top__module .background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modules-top__module a, .modules-top__module h2 {
  color: currentColor;
}

.modules-top__module h2 {
  position: relative;
  text-align: left;
  z-index: 3;
  margin: 0 0 16px;
  font-size: 2.2rem;
  line-height: 26px;
  font-family: 'PT Sans Bold', sans-serif;
  letter-spacing: 0.5px;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
}

.modules-top__module--1 {
  color: #e9ff7d;
}

.modules-top__module--1 .background {
  fill: #75a111;
  stroke: #75a111;
}

.modules-top__module--2 {
  color: #e9ff7d;
}

.modules-top__module--2 .background {
  fill: #95a111;
  stroke: #95a111;
}

.modules-top__module--3 {
  color: #fcc5a7;
}

.modules-top__module--3 .background {
  fill: #b74304;
  stroke: #b74304;
}

.modules-top__holder {
  min-height: 198px !important;
  display: inline-block;
  vertical-align: top;
  position: relative;
  font-size: 1.4rem;
}

.modules-top__holder .light--red {
  display: none;
}

.modules-top__holder .light--green {
  display: block;
}

.modules-top__holder .light--red, .modules-top__holder .light--green {
  position: absolute;
  width: 244px;
  height: 98px;
  top: -2px;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
}

.modules-top__holder--1 {
  padding: 50px 50px 35px;
  width: 840px;
}

.modules-top__holder--1 .modules-top__module {
  max-width: 320px;
  margin: 0 auto;
}

.modules-top__holder--1 #mod_video .modules-top__icon, .modules-top__holder--1 #mod_timetable .modules-top__icon, .modules-top__holder--1 #mod_jokes .modules-top__icon, .modules-top__holder--1 #mod_menu .modules-top__icon, .modules-top__holder--1 #mod_location .modules-top__icon, .modules-top__holder--1 #mod_gallery .modules-top__icon {
  transform: translateY(-15px);
}

.modules-top__holder--2 {
  padding: 50px 35px 35px;
  width: 415px;
}

.modules-top__holder--2 #mod_calendar .modules-top__content {
  margin: 0;
  max-width: 100%;
}

.modules-top__holder--3 {
  padding: 50px 30px 35px;
  width: 285px;
}

.modules-top__holder--3:nth-child(2) {
  margin: 0 7px;
}

.modules-top__holder--3:nth-child(3) .light--green {
  display: none;
}

.modules-top__holder--3:nth-child(3) .light--red {
  display: block;
}

.modules-top__content {
  width: calc(100% - 50px);
  float: left;
  position: relative;
  z-index: 3;
  padding: 0 5px 0 0;
  line-height: 18px;
  max-width: 320px;
  margin: 0 auto;
}

.modules-top__content p {
  margin: 0;
}

.modules-top__icon {
  float: left;
  transform: translateY(4px) translateX(-1px);
  position: relative;
  z-index: 3;
  width: 50px;
  height: 51px;
  background-size: auto auto;
  background-repeat: no-repeat;
  background-position: right top;
}

@media screen and (max-width: 1199px) {
  .modules-top {
    width: 100%;
    transform: translateY(-85px);
    margin-bottom: -85px;
  }
  .modules-top #mod_login input[type="text"], .modules-top #mod_login input[type="password"] {
    width: calc(100% - 53px);
  }
  .modules-top #mod_login label {
    width: 53px;
  }
  .modules-top #mod_login input[type="submit"] {
    margin-left: 53px;
  }
  .modules-top__holder--3 {
    width: 238px;
  }
  .modules-top__holder--3:nth-child(2) {
    margin: 0 4px;
  }
  .modules-top__holder--2 {
    width: 362px;
  }
  .modules-top__holder--1 {
    width: 690px;
  }
}

@media screen and (max-width: 991px) {
  .modules-top {
    transform: none;
    padding: 0 15px;
    margin-bottom: 15px;
  }
  .modules-top__holder--3 {
    width: 237px;
  }
  .modules-top__holder--2 {
    width: 360px;
    padding-top: 30px;
  }
  .modules-top__holder--1 {
    width: 720px;
    padding-top: 30px;
  }
  .modules-top__holder {
    padding-top: 20px;
  }
  .modules-top__holder .light--red, .modules-top__holder .light--green {
    display: none !important;
  }
}

@media screen and (max-width: 767px) {
  .modules-top {
    width: 280px;
    margin: 0 auto 25px;
  }
  .modules-top .row > div:first-child {
    z-index: 3;
  }
  .modules-top .row > div:nth-child(2) {
    z-index: 2;
  }
  .modules-top .row > div:nth-child(3) {
    z-index: 1;
  }
  .modules-top__holder {
    height: auto !important;
    padding: 20px 20px 25px;
    margin: 0 auto -20px !important;
    width: 100% !important;
  }
}

.sidebar {
  width: 251px;
  margin-bottom: 20px;
}

.sidebar input[type="text"], .sidebar input[type="password"] {
  border: 0;
}

.sidebar-menu {
  background-color: #ff7f01;
  text-align: center;
  padding: 0 20px;
  position: relative;
  z-index: 4;
  transform: translateY(-120px);
  margin-bottom: -120px;
}

.sidebar-menu .border-decoration {
  width: 263px;
  height: 32px;
  display: block;
  position: absolute;
  left: -6px;
  right: -6px;
  z-index: 4;
  stroke: #ff7e00;
}

.sidebar-menu .border-decoration.top {
  top: -31px;
  transform: rotate(180deg);
}

.sidebar-menu .border-decoration.bottom {
  bottom: -31px;
}

.sidebar-menu h2 {
  margin: 20px 0 10px;
  font-size: 2.2rem;
  line-height: 26px;
  color: #fffd79;
  font-family: 'PT Sans Bold', sans-serif;
}

.sidebar-menu ul {
  float: none;
  border: 0;
  padding: 4px 0;
  border-radius: 0;
  box-shadow: none;
  position: static;
  background-color: transparent;
}

.sidebar-menu ul li {
  display: block;
}

.sidebar-menu ul li a {
  position: relative;
  font-size: 1.8rem;
  line-height: 22px;
  font-family: 'PT Sans Bold', sans-serif;
  padding: 10px 18px;
  width: 100%;
  color: #693400;
  display: block;
  text-align: center;
  text-shadow: 0px 1px 0px #ffbd00;
}

.sidebar-menu ul li a:hover, .sidebar-menu ul li a.selected {
  color: #fffd79;
  text-decoration: none;
}

.sidebar-menu ul li a:hover, .sidebar-menu ul li a.selected, .sidebar-menu ul li a:active, .sidebar-menu ul li a:focus {
  outline: 0 !important;
}

.sidebar-menu ul > li li ul {
  padding: 10px 0 20px;
}

.sidebar-menu ul > li li > a {
  font-size: 1.6rem;
  line-height: 18px;
}

.sidebar-menu ul > li li li > a {
  font-size: 1.4rem;
  line-height: 18px;
}

.sidebar-menu ul > li li a {
  padding-top: 8px;
}

.sidebar-menu ul > li:not(:last-child) a:before, .sidebar-menu ul > li:not(:last-child) a:after {
  content: '';
  display: block;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  pointer-events: none;
  left: 50%;
  top: 100%;
}

.sidebar-menu ul > li:not(:last-child) a:before {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 206px;
  height: 47px;
  z-index: 3;
  background-image: url("../images/toolbar/dropdown-menu-shadow.png");
}

.sidebar-menu ul > li:not(:last-child) a:after {
  width: 15px;
  height: 15px;
  z-index: 4;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../images/circle.svg");
}

.sidebar-modules > div:nth-child(3n+1) > .module {
  background-color: #75a111;
}

.sidebar-modules > div:nth-child(3n+1) > .module .light--green {
  display: block;
}

.sidebar-modules > div:nth-child(3n+1) > .module .light--red {
  display: none;
}

.sidebar-modules > div:nth-child(3n+1) > .module .border-decoration {
  stroke: #75a111;
}

.sidebar-modules > div:nth-child(3n+2) > .module {
  background-color: #95a111;
}

.sidebar-modules > div:nth-child(3n+2) > .module .light--green {
  display: block;
}

.sidebar-modules > div:nth-child(3n+2) > .module .light--red {
  display: none;
}

.sidebar-modules > div:nth-child(3n+2) > .module .border-decoration {
  stroke: #95a111;
}

.sidebar-modules > div:nth-child(3n+3) > .module {
  background-color: #c04604;
  color: #fcc5a7;
}

.sidebar-modules > div:nth-child(3n+3) > .module .light--green {
  display: none;
}

.sidebar-modules > div:nth-child(3n+3) > .module .light--red {
  display: block;
}

.sidebar-modules > div:nth-child(3n+3) > .module .border-decoration {
  stroke: #c04604;
}

.sidebar-modules > div:nth-child(3n+3) #mod_questionnaire .label {
  color: #fcc5a7;
}

.sidebar-modules > div:nth-child(3n+3) #mod_questionnaire .qBar {
  border-color: #ffd200;
  background-color: #fcc5a7;
}

.sidebar-modules > div:nth-child(3n+3) #mod_questionnaire form label:before {
  border-color: #ff7f01;
}

.sidebar-modules > div:nth-child(3n+3) #mod_questionnaire form label:after {
  background-color: #ff7f01;
}

.sidebar-modules > div:nth-child(3n+3) #mod_calendar2 .calendar th, .sidebar-modules > div:nth-child(3n+3) #mod_calendar2 .calendar td {
  border-color: #d75e1c;
}

.sidebar-modules > div:nth-child(3n+3) #mod_calendar2 .calendar th {
  background-color: #6f3500;
  color: #ff7e00;
}

.sidebar-modules > div:nth-child(3n+3) #mod_calendar2 .calendar td {
  color: #fcc5a7;
}

.sidebar-modules > div:nth-child(3n+3) #mod_calendar2 .calendar td.pr_day {
  color: #ff7e00;
  background-color: #6f3500;
}

.sidebar-modules > div:nth-child(3n+3) #mod_calendar2 .calendar td.imp_day a {
  background-color: #ff7e00;
  color: #693400;
  text-shadow: 0px 1px 0px #ffbd00;
}

.sidebar-modules > div:nth-child(3n+3) #mod_calendar2 .calendar td.imp_day a:hover {
  background-color: #693400;
  color: #ff7f01;
}

.sidebar-modules .module {
  width: 251px;
  padding: 51px 21px 15px;
  position: relative;
  color: #e9ff7d;
}

.sidebar-modules .module a {
  color: currentColor;
}

.sidebar-modules .module h2 {
  font-size: 2.2rem;
  line-height: 26px;
  font-family: 'PT Sans Bold', sans-serif;
  color: currentColor;
  margin: 0 0 16px;
  padding: 0;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  text-align: left;
}

.sidebar-modules .module .light--red, .sidebar-modules .module .light--green {
  z-index: 3;
  width: 180px;
  height: 72px;
  position: absolute;
  top: -8px;
  left: 50%;
  transform: translateX(-50%);
}

.sidebar-modules .module .border-decoration {
  display: block;
  position: absolute;
  pointer-events: none;
  width: 263px;
  transform: rotate(360deg);
  height: 36px;
  z-index: 4;
  bottom: -34px;
  left: -6px;
}

.sidebar-modules .module .module-content {
  position: relative;
  padding-right: 55px;
  min-height: 55px;
}

.sidebar-modules .module .module__icon {
  display: block;
  position: absolute;
  pointer-events: none;
  width: 55px;
  height: 55px;
  top: 0;
  right: 0;
  background-size: auto auto;
  background-position: right top;
  background-repeat: no-repeat;
}

.sidebar-modules .module#mod_questionnaire .module-content {
  padding-right: 0;
}

.sidebar-modules .module#mod_questionnaire .label {
  color: currentColor;
}

.sidebar-modules .module#mod_calendar .module-content {
  padding-right: 0;
}

.sidebar-modules .module#mod_calendar .module-content p {
  width: calc(100% - 80px);
}

.sidebar-modules .module#mod_calendar .clock-container {
  position: absolute;
  right: 0;
  top: 0;
}

.sidebar-modules .module#mod_login .module-content {
  padding-right: 0;
}

.sidebar-modules .module#mod_login input[type="text"], .sidebar-modules .module#mod_login input[type="password"] {
  margin: 0 0 8px;
}

.sidebar-modules .module#mod_login input[type="submit"] {
  float: right;
}

.sidebar-modules .module#mod_calendar2 .module-content {
  padding-right: 0;
}

.sidebar-modules .module#mod_weather .module-content {
  padding-right: 0;
}

.sidebar-modules .module#mod_contact p {
  margin: 0;
}

.sidebar-modules .module#mod_contact a {
  text-decoration: underline;
}

.sidebar-modules .module#mod_contact a:hover {
  text-decoration: none;
}

@media screen and (max-width: 1199px) {
  .sidebar {
    width: 212px;
  }
  .sidebar-menu .border-decoration {
    width: 222px;
    height: 27px;
    left: -5px;
  }
  .sidebar-menu .border-decoration.top {
    top: -27px;
  }
  .sidebar-menu .border-decoration.bottom {
    bottom: -26px;
  }
  .sidebar-modules .module {
    width: 212px;
  }
  .sidebar-modules .module .border-decoration {
    left: -5px;
    width: 222px;
    height: 30px;
    bottom: -29px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .sidebar-modules #mod_login input[type="text"], .sidebar-modules #mod_login input[type="password"] {
    width: 120px;
  }
  .sidebar-modules #mod_login label {
    width: calc(100% - 120px);
  }
}

@media screen and (min-width: 992px) {
  .sidebar-modules .module {
    height: auto !important;
  }
}

@media screen and (max-width: 991px) {
  .sidebar {
    width: 100%;
  }
  .sidebar-menu {
    transform: none;
    margin: 20px 0;
    padding: 3px 15px;
  }
  .sidebar-menu .border-decoration {
    display: none;
  }
  .sidebar-modules .module {
    width: 100%;
  }
  .sidebar-modules .module .border-decoration {
    width: calc(100% + 16px);
    height: 49px;
    bottom: -49px;
    left: -8px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .sidebar-modules {
    margin-top: 20px;
    margin-bottom: 60px;
  }
  .sidebar-modules > div:first-child .module, .sidebar-modules > div:nth-child(2) .module {
    padding-top: 20px;
  }
  .sidebar-modules > div:first-child .module .light--green, .sidebar-modules > div:first-child .module .light--red, .sidebar-modules > div:nth-child(2) .module .light--green, .sidebar-modules > div:nth-child(2) .module .light--red {
    display: none !important;
  }
  .sidebar-modules .module {
    text-align: center;
  }
  .sidebar-modules .module h2 {
    text-align: center;
  }
  .sidebar-modules .module .module__icon {
    position: absolute;
    background-position: center center;
    right: 50%;
    transform: translateX(50%);
  }
  .sidebar-modules .module.module-with-icon .module-content {
    padding: 65px 0 0;
  }
  .sidebar-modules .module#mod_questionnaire {
    text-align: left;
  }
  .sidebar-modules .module#mod_login label {
    width: 100px;
  }
  .sidebar-modules .module#mod_login input[type="text"], .sidebar-modules .module#mod_login input[type="password"] {
    width: calc(100% - 100px);
  }
  .sidebar-modules .module#mod_login input[type="submit"] {
    float: none;
  }
  .sidebar-modules .module#mod_calendar .module-content {
    padding: 85px 0 0;
  }
  .sidebar-modules .module#mod_calendar .module-content p {
    width: 100%;
  }
  .sidebar-modules .module#mod_calendar .clock-container {
    right: 50%;
    transform: translateX(50%);
    padding: 9px 0 0;
  }
}

@media screen and (max-width: 767px) {
  .sidebar-modules {
    margin-bottom: 50px;
  }
  .sidebar-modules > div:first-child > .module {
    padding-top: 20px;
  }
  .sidebar-modules .module {
    width: 290px;
    margin: 0 auto;
    height: auto !important;
  }
  .sidebar-modules .module .light--green, .sidebar-modules .module .light--red {
    display: none;
  }
  .sidebar-modules .module .border-decoration {
    width: 304px;
    height: 41px;
    bottom: -41px;
    left: -7px;
  }
}

#modules-bottom {
  padding-top: 80px;
}

#modules-bottom:before {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  width: 847px;
  height: 55px;
  pointer-events: none;
  transform: translateX(-50%);
  background-image: url("../images/header-decoration.png");
}

.modules-content {
  width: 862px;
  text-align: center;
  position: relative;
  font-size: 0;
  transform: translateX(-20px);
}

.modules-content:before, .modules-content:after {
  content: " ";
  display: table;
}

.modules-content:after {
  clear: both;
}

.modules-content__module {
  width: 278px;
  min-height: 250px !important;
  display: inline-block;
  vertical-align: top;
  position: relative;
  cursor: pointer;
  font-size: 1.4rem;
}

.modules-content__module:not(:first-child) {
  margin-left: 5px;
}

.modules-content__module:not(:last-child) {
  margin-right: 5px;
}

.modules-content__module:hover {
  text-decoration: none;
}

.modules-content__module:hover .modules-content__background {
  fill: white;
}

.modules-content__content {
  position: relative;
  z-index: 2;
  padding: 19px 25px 25px;
  text-align: center;
}

.modules-content__content h2 {
  color: #ff7f01;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  display: block;
  margin: 9px 0 10px;
  padding: 0 20px;
  font-size: 2.2rem;
  text-align: center;
  font-family: 'PT Sans Bold', sans-serif;
  line-height: 26px;
}

.modules-content__content p {
  margin: 0;
  line-height: 16px;
}

.modules-content__content a {
  color: #6b7450;
}

.modules-content__content a[href^="mailto:"] {
  text-decoration: underline;
}

.modules-content__content a[href^="mailto:"]:hover {
  text-decoration: none;
}

.modules-content__background {
  transition: all .3s ease;
  fill: #eff7d5;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 278px;
  height: 100%;
}

.modules-content__interlude {
  bottom: -10px;
  left: 0;
  right: 0;
  width: 277px;
  height: 55px;
  position: absolute;
}

.modules-content__icon {
  display: block;
  width: 100%;
  background-size: auto auto;
  background-position: center center;
  background-repeat: no-repeat;
  width: 50px;
  height: 51px;
  margin: 0 auto;
}

@media screen and (max-width: 1199px) {
  #modules-bottom:before {
    width: 100%;
  }
  .modules-content {
    width: 100%;
    transform: none;
  }
  .modules-content__content {
    padding: 11px 25px 20px;
  }
  .modules-content__content h2 {
    margin: 5px 0;
  }
  .modules-content__module {
    width: 220px;
  }
  .modules-content__module:not(:last-child) {
    margin-right: 9px;
  }
  .modules-content__module:not(:first-child) {
    margin-left: 9px;
  }
  .modules-content__interlude {
    width: 220px;
    height: 44px;
  }
  .modules-content__background {
    width: 220px;
  }
}

@media screen and (max-width: 991px) {
  #modules-bottom {
    padding-top: 0;
  }
  #modules-bottom:before {
    display: none;
  }
  .modules-content__module:not(:last-child) {
    margin-right: 13px;
  }
  .modules-content__module:not(:first-child) {
    margin-left: 13px;
  }
}

@media screen and (max-width: 767px) {
  .modules-content__module {
    float: none;
    margin: 15px auto;
    display: block;
    min-height: 0 !important;
    width: 278px;
    height: 211px;
  }
  .modules-content__module:not(:last-child) {
    margin-right: auto;
  }
  .modules-content__module:not(:first-child) {
    margin-left: auto;
  }
  .modules-content__interlude {
    bottom: 0;
    width: 277px;
    height: 55px;
  }
  .modules-content__background {
    width: 278px;
    height: 200px;
  }
}

#mod_calendar p:first-child {
  margin: 0 0 17px;
}

#mod_calendar p span {
  display: block;
  font-family: 'PT Sans Bold', sans-serif;
}

#mod_login .module__icon {
  background-image: url("../images/modules/login.png");
}

#mod_login label {
  width: calc(100% - 139px);
  float: left;
  text-align: right;
  padding: 0 12px 0 0;
  margin: 0 0 6px;
  line-height: 36px;
}

#mod_login input[type="text"], #mod_login input[type="password"] {
  width: 139px;
  margin: 0 0 6px;
  float: left;
}

#mod_login .user-avatar, #mod_login .user-name {
  margin: 0 auto;
}

#mod_login .user-avatar a, #mod_login .user-name a {
  margin: 2px 0 5px;
  color: #f8ffe2;
  text-decoration: underline;
}

#mod_login .user-avatar a:hover, #mod_login .user-name a:hover {
  text-decoration: none;
}

#mod_login .user-name-wrapper {
  text-align: center;
}

#mod_stats .statsCount, #mod_stats .stats-count {
  font-family: 'PT Sans Bold', sans-serif;
}

#mod_stats .module__icon {
  background-image: url("../images/modules/stats.png");
}

#mod_kzk .module__icon {
  background-image: url("../images/modules/kzk.png");
}

#mod_location .module__icon {
  background-image: url("../images/modules/location.png");
}

#mod_video .module__icon {
  background-image: url("../images/modules/video.png");
}

#mod_newsletter .module__icon {
  background-image: url("../images/modules/newsletter.png");
}

#mod_timetable .module__icon {
  background-image: url("../images/modules/timetable.png");
}

#mod_gallery .module__icon {
  background-image: url("../images/modules/gallery.png");
}

#mod_menu .module__icon {
  background-image: url("../images/modules/menu.png");
}

#mod_programs .module__icon {
  background-image: url("../images/modules/newsletter.png");
}

#mod_jokes .module__icon {
  background-image: url("../images/modules/jokes.png");
}

#mod_contact .module__icon {
  background-image: url("../images/modules/contact.png");
}

#mod_forum #modForum, #mod_forum .bolder {
  display: none;
}

#mod_forum .module__icon {
  background-image: url("../images/modules/forum.png");
}

#mod_calendar2 {
  padding-left: 15px;
  padding-right: 15px;
}

#mod_calendar2 #calendarNews {
  position: relative;
}

#mod_calendar2 .caption_nav_prev, #mod_calendar2 .caption_nav_next {
  position: absolute;
  top: 0;
  z-index: 2;
}

#mod_calendar2 .caption_nav_prev a, #mod_calendar2 .caption_nav_next a {
  width: 32px;
  height: 34px;
  border: 3px solid #ff7e00;
  border-radius: 10px;
  background: #ff7e00;
  background: linear-gradient(to bottom, #ffc000 0%, #ff7f00 100%);
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.2);
  text-shadow: 0px 1px 0px #ffbd00;
}

#mod_calendar2 .caption_nav_prev a:hover, #mod_calendar2 .caption_nav_next a:hover {
  background-position: 0 -28px;
}

#mod_calendar2 .caption_nav_prev a:before, #mod_calendar2 .caption_nav_next a:before {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  content: '';
  display: block;
  position: absolute;
  top: 46%;
  left: 50%;
  width: 10px;
  height: 12px;
  transform: translateX(-50%) translateY(-50%);
  z-index: 3;
  background-image: url("../images/modules/calendar-arrow.svg");
}

#mod_calendar2 .caption_nav_prev a i, #mod_calendar2 .caption_nav_next a i {
  display: none;
}

#mod_calendar2 .caption_nav_prev {
  left: 0;
}

#mod_calendar2 .caption_nav_prev a:before {
  transform: translateX(-50%) translateY(-50%) rotate(180deg);
}

#mod_calendar2 .caption_nav_next {
  right: 0;
}

#mod_calendar2 .calendar {
  width: 100%;
  margin: 0 auto;
  border: 0;
  table-layout: fixed;
  border-collapse: collapse;
}

#mod_calendar2 .calendar caption {
  text-align: center;
  line-height: 34px;
  font-size: 1.6rem;
  font-family: 'PT Sans Bold', sans-serif;
  color: currentColor;
  padding: 0 0 10px;
}

#mod_calendar2 .calendar th, #mod_calendar2 .calendar td {
  width: 32px;
  height: 32px;
  line-height: 32px;
  padding: 0;
  text-align: center;
  border-style: solid;
  border-color: #6b7450;
  border-top-width: 0;
}

#mod_calendar2 .calendar th {
  background-color: #6f3500;
  color: #e9ff7d;
  text-transform: capitalize;
  font-family: 'PT Sans Bold', sans-serif;
  border-left-width: 0;
  border-right-width: 0;
  border-bottom-width: 1px;
}

#mod_calendar2 .calendar td {
  border-bottom-width: 0;
  border-left-width: 1px;
  border-right-width: 1px;
  border-style: solid;
  color: #fff;
}

#mod_calendar2 .calendar td.pr_day {
  color: #e9ff7d;
  background-color: #6f3500;
}

#mod_calendar2 .calendar td.imp_day a {
  display: block;
  background-color: #e9ff7d;
  color: #693400;
  font-family: 'PT Sans Bold', sans-serif;
}

#mod_calendar2 .calendar td.imp_day a:hover {
  background-color: #693400;
  color: #e9ff7d;
  text-decoration: none;
}

#mod_calendar2 .calendar tr td:first-child {
  border-left: 0;
}

#mod_calendar2 .calendar tr td:last-child {
  border-right: 0;
}

#mod_questionnaire {
  font-size: 1.3rem;
}

#mod_questionnaire .module-content > p {
  margin: 10px 0;
}

#mod_questionnaire form {
  position: relative;
}

#mod_questionnaire form input[type="radio"] {
  width: 16px;
  height: 16px;
  margin: 0;
  padding: 0;
  position: absolute;
}

#mod_questionnaire form input[type="radio"] + label {
  position: relative;
  z-index: 2;
  padding-left: 25px;
  margin: 0 0 10px;
  max-width: 209px;
  cursor: pointer;
}

#mod_questionnaire form input[type="radio"] + label .radio {
  display: none;
}

#mod_questionnaire form input[type="radio"] + label .label {
  padding: 0;
  font-size: 1.3rem;
  white-space: normal;
  border-radius: 0;
}

#mod_questionnaire form input[type="radio"] + label:before {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  border-radius: 50%;
  border: 2px solid #586f23;
  background-color: #fff;
  left: 0;
  top: 0;
}

#mod_questionnaire form input[type="radio"] + label:after {
  content: '';
  display: none;
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #586f23;
  z-index: 2;
  left: 4px;
  top: 4px;
}

#mod_questionnaire form input[type="radio"]:checked + label:after {
  display: block;
}

#mod_questionnaire .buttonWrapper {
  text-align: right;
}

#mod_questionnaire fieldset {
  clear: both;
}

#mod_questionnaire fieldset + input {
  float: right;
}

#mod_questionnaire .qPercent {
  color: #ffd200;
}

#mod_weather .module-content {
  text-align: center;
  line-height: 1;
}

#mod_weather .weatherParam ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#mod_weather .weatherParam ul li {
  margin: 0 0 5px 0;
  font-size: 1.3rem;
  padding: 0;
}

#mod_weather .weatherParam .weatherIco {
  margin-top: 25px;
  margin-bottom: 25px;
}

#mod_weather .weatherParam .weatherLoc {
  font-size: 1.8rem;
}

#mod_weather .weatherParam .weatherTemp {
  font-size: 2.4rem;
  font-family: 'PT Sans Bold', sans-serif;
}

#mod_weather .weatherParam .weatherTitle {
  display: none;
}

#mod_weather .weatherParam .weatherSource {
  margin-bottom: 0;
}

@media screen and (max-width: 1199px) {
  #mod_questionnaire span {
    max-width: 150px;
  }
  #mod_questionnaire form input[type="radio"] + label {
    max-width: 175px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  #mod_calendar2 .calendar th, #mod_calendar2 .calendar td {
    width: 26px;
    height: 26px;
    line-height: 26px;
  }
}

@media screen and (max-width: 991px) {
  #mod_questionnaire span {
    max-width: 100%;
  }
  #mod_questionnaire form input[type="radio"] + label {
    max-width: 303px;
  }
}

@media screen and (max-width: 767px) {
  #mod_calendar2 #calendarNews {
    margin: 0 auto;
    max-width: 320px;
  }
  #mod_questionnaire form input[type="radio"] + label {
    max-width: 248px;
  }
}

.page-footer {
  position: relative;
  padding: 12px 0 120px;
  overflow: hidden;
  margin: 35px 0 0;
}

.page-footer:before {
  content: '';
  display: block;
  width: 2285px;
  height: 894px;
  position: absolute;
  top: -170px;
  left: 50%;
  pointer-events: none;
  transform: translateX(-50%);
  background-size: auto auto;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../images/footer/footer-background.png");
}

.page-footer .col-xs-12 {
  position: static;
}

.page-footer .row > div {
  min-height: 0;
}

.page-footer .topMenu {
  position: relative;
  z-index: 3;
  font-size: 0;
  text-align: center;
}

.page-footer .topMenu:before {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  content: '';
  display: block;
  width: 75px;
  height: 96px;
  background-image: url("../images/footer/footer-leaf.png");
  position: absolute;
  left: -10px;
  top: -6px;
  z-index: 3;
}

.page-footer .topMenu li {
  font-family: 'PT Sans Bold', sans-serif;
  font-size: 18px;
  display: inline-block;
  position: relative;
  max-width: 100%;
}

.page-footer .topMenu li:not(:last-child):after {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateX(50%) translateY(-50%);
  pointer-events: none;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../images/circle.svg");
}

.page-footer .topMenu li a {
  display: block;
  color: #693400;
  padding: 8px 18px;
  text-shadow: 0px 1px 0px rgba(255, 189, 0, 0.4);
}

.page-footer .topMenu li a:hover, .page-footer .topMenu li a.selected {
  color: #fffd79;
  text-decoration: none;
}

.footer__copyright {
  position: relative;
  padding: 13px;
  line-height: 16px;
  z-index: 3;
  margin: 0;
  display: inline-block;
  vertical-align: middle;
  font-size: 1.3rem;
  color: #693400;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2);
}

.footer__copyright a {
  color: currentColor;
  text-decoration: underline;
}

.footer__copyright a:hover {
  text-decoration: none;
}

.footer__copyright + br {
  display: none;
}

.footer__inner {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: calc(100% - 108px);
  width: 1270px;
}

.footer__gotop {
  display: none;
}

@media screen and (max-width: 1199px) {
  .page-footer .topMenu:before {
    left: -40px;
  }
  .footer__inner {
    width: 1070px;
  }
}

@media screen and (max-width: 991px) {
  .page-footer {
    background-color: #ff7f01;
    color: #693400;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2);
    margin: 20px 0 0;
    padding: 12px 0 25px;
  }
  .page-footer:before, .page-footer .topMenu {
    display: none;
  }
  .footer__copyright {
    font-size: 1.5rem;
    line-height: 18px;
    font-family: 'PT Sans Bold', sans-serif;
    color: #693400;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2);
  }
  .footer__copyright + br {
    display: block;
  }
  .footer__inner {
    display: none;
  }
  .footer__gotop {
    font-size: 1.5rem;
    line-height: 18px;
    font-family: 'PT Sans Bold', sans-serif;
    display: inline-block;
    color: #693400;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2);
    text-decoration: underline;
  }
  .footer__gotop:hover {
    text-decoration: none;
  }
}

#advertsLeftWrapper {
  margin: 0;
  text-align: center;
}

#advertsTopWrapper {
  text-align: center;
  margin: 30px 0;
}

#advertsLeftContent {
  position: relative;
  padding: 52px 21px 15px;
  font-size: 1.4rem;
  line-height: 18px;
  color: #6b7450;
}

#advertsLeftContent a {
  color: #ff7f01;
  text-decoration: underline;
}

#advertsLeftContent a:hover {
  text-decoration: none;
}

.advertLeft {
  text-align: left;
  margin-bottom: 30px;
}

.advertLeft img {
  max-width: 208px;
  display: block;
  width: auto !important;
  height: auto !important;
  margin: 5px auto 0;
}

.advertLeft table {
  text-align: left;
}

.advertTop {
  text-align: left;
  margin-bottom: 30px;
}

.advertTop iframe, .advertTop object {
  max-width: 100%;
  height: auto;
}

.advertTop img {
  max-width: 700px;
  width: auto !important;
  height: auto !important;
  margin: 5px auto 0;
  display: block;
}

.advertTop a {
  color: #ff7f01;
  text-decoration: underline;
}

.advertTop a:hover {
  text-decoration: none;
}

.advertTop table {
  text-align: left;
}

.video iframe {
  display: block;
  margin: 20px auto;
}

.location iframe {
  display: block;
  margin: 20px auto 0;
}

.clock-container {
  position: relative;
  width: 76px;
  height: 76px;
  text-align: center;
  border-radius: 50%;
  padding: 9px 0 0;
}

.clock-container svg {
  position: relative;
  z-index: 5;
  width: 59px;
  height: 59px;
}

.clock-container svg.clock-container__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  right: 0;
  z-index: 4;
  fill: #737c0f;
}

img + .delete {
  margin-left: 5px;
  color: #6b7450;
  text-decoration: underline;
}

img + .delete:hover {
  text-decoration: none;
}

#crumbpath {
  padding: 0 0 20px 0;
  color: #6b7450;
}

#crumbpath a {
  color: currentColor;
  text-decoration: none;
  font-family: 'PT Sans Bold', sans-serif;
}

#crumbpath a:hover, #crumbpath a:focus {
  text-decoration: underline;
}

#crumbpath ol {
  display: inline;
  margin-bottom: 0;
  vertical-align: top;
}

#crumbpath ol li {
  display: inline;
  padding-left: 5px;
  padding-right: 5px;
}

#crumbpath ol li .icon {
  font-size: 12px;
  margin-left: 0;
  margin-right: 10px;
}

.pathSep {
  margin: 0 10px;
}

.here {
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
}

.search-list, .files-wrapper {
  margin-top: 15px;
  margin-bottom: 15px;
}

#content_txt .board {
  color: #fff;
  text-align: left;
}

#content_txt .board h1, #content_txt .board h2, #content_txt .board h3, #content_txt .board h4, #content_txt .board h5, #content_txt .board h6 {
  color: #fff;
}

#content_txt .board a:hover {
  text-decoration: none;
}

#content_txt .board blockquote {
  border-left-color: #fff;
}

#content_txt .class-list li {
  margin-bottom: 10px;
  font-size: 1.6rem;
}

#content_txt .class-list li a, #content_txt .class-list li a:visited {
  color: #6b7450;
  font-weight: normal;
}

#content_txt .class-list li a:hover {
  text-decoration: none;
}

#content_txt .class-list li a:hover span {
  text-decoration: underline;
}

#content_txt .class-list .timetable .txt-err {
  margin-bottom: 0;
}

#content_txt .sitemap {
  margin: 0 0 30px 10px;
  padding: 0 0 0 10px;
  list-style: disc;
}

#content_txt .sitemap .sitemap {
  margin-bottom: 0;
}

#content_txt .sitemap li {
  margin: 10px 0;
  position: relative;
}

#content_txt .sitemap li a, #content_txt .sitemap li a:visited {
  font-weight: normal;
}

#content_txt .sitemap li a {
  text-decoration: none;
}

#content_txt .sitemap li a:hover, #content_txt .sitemap li a:focus {
  text-decoration: underline;
  color: #ff7f01;
}

.protectedPage {
  margin-left: 5px;
  transform: translateY(-1px);
}

.protectedPage svg {
  width: 10px;
  height: 15px;
  fill: #af6319;
}

.protectedPage i {
  display: none;
}

.file_input_div, .comment {
  display: block;
  margin: 10px 0 0;
}

.search-lead {
  border-bottom: 1px solid #6b7450;
  padding-bottom: 15px;
}

.search-lead:empty {
  display: none;
}

.search-text h3 a {
  font-size: 1.6rem !important;
  color: #75a111 !important;
  font-weight: 400 !important;
  margin: 10px 0;
}

.timetable {
  margin: 10px 0;
}

.timetable caption {
  font-weight: normal;
  padding: 8px 0;
  color: #6b7450;
  text-transform: uppercase;
}

.planLp {
  text-align: center;
}

.planLesson {
  font-weight: normal;
}

.qAnswer {
  float: left;
  margin-top: 10px;
  font-size: 1.3rem;
  width: calc(100% - 62px);
  font-family: 'PT Sans Bold', sans-serif;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.qPercent {
  float: right;
  text-align: right;
  margin: 10px 0 0;
  padding: 0;
  color: #6b7450;
  font-family: 'PT Sans Bold', sans-serif;
  font-size: 2.4rem;
  line-height: 24px;
}

.qBar {
  background: #586f23;
  height: 6px;
  border-radius: 2px;
  border-bottom: 1px solid #8fbd27;
  margin: 5px 0 15px 0;
}

.questionnaireList input[type="radio"] {
  width: 16px;
  height: 16px;
  margin: 0;
  padding: 0;
  opacity: 0;
  position: absolute;
}

.questionnaireList input[type="radio"] + label {
  position: relative;
  z-index: 2;
  padding-left: 25px;
  margin: 0 0 10px;
  cursor: pointer;
}

.questionnaireList input[type="radio"] + label .radio {
  display: none;
}

.questionnaireList input[type="radio"] + label .label {
  padding: 0;
  font-size: 1.3rem;
  white-space: normal;
  border-radius: 0;
  color: #6b7450;
}

.questionnaireList input[type="radio"] + label:before {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  border-radius: 50%;
  border: 2px solid #586f23;
  background-color: #fff;
  left: 0;
  top: 0;
}

.questionnaireList input[type="radio"] + label:after {
  content: '';
  display: none;
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #586f23;
  z-index: 2;
  left: 4px;
  top: 4px;
}

.questionnaireList input[type="radio"]:checked + label:after {
  display: block;
}

.hide {
  position: absolute;
  top: 0;
  left: -9000em;
  width: 1px;
  height: 1px;
}

.clear {
  clear: both;
  padding: 0;
  margin: 0;
  font-size: 1px;
  line-height: 0;
  height: 0;
}

.noMargin {
  margin: 0;
}

.bolder {
  font-weight: normal;
}

img {
  border: none;
}

.rel {
  position: relative;
}

#jokes {
  margin: 0 0 40px 0;
  padding: 0;
}

#jokes li {
  list-style-type: none;
  margin-bottom: 30px;
  border-bottom: 3px solid #6b7450;
  position: relative;
}

.jokeText {
  padding: 10px;
  max-width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  color: #6b7450;
}

.jokeNick {
  background: none;
  color: #693400;
  text-align: right;
  padding: 5px 10px;
}

.jokeDate {
  color: #6b7450;
}

#cookiesMsgWrap {
  border-top-color: #6b7450 !important;
  background-color: #f8ffe2 !important;
}

#cookiesMsg {
  width: auto !important;
  padding: 10px !important;
}

#cookiesMsg p {
  color: #6b7450 !important;
  margin: 0;
}

#cookiesMsg a {
  color: #6b7450 !important;
}

.back-links li {
  margin-bottom: 5px;
}

#backLinks {
  margin: 0;
  padding: 0;
}

#backLinks li {
  list-style-type: none;
}

@media screen and (max-width: 1199px) {
  #advertsLeftContent:before {
    bottom: -35px;
    height: 35px;
    width: 212.5px;
  }
  .advertLeft img {
    max-width: 170px;
  }
}

@media screen and (max-width: 991px) {
  #advertsLeftContent {
    padding: 22px 15px;
    margin: 10px 0;
  }
  #advertsLeftContent:before {
    display: none;
  }
  #crumbpath {
    padding: 15px;
  }
  .advertLeft:last-child {
    margin-bottom: 0;
  }
  .advertLeft img {
    max-width: 300px;
  }
}

@media screen and (max-width: 767px) {
  #crumbpath {
    transform: translateX(-15px);
    width: calc(100% + 30px);
  }
}

@media screen and (max-width: 730px) {
  .advertTop img {
    max-width: 100%;
  }
}

.files-wrapper, .gallery-wrapper, .article-wrapper {
  margin-top: 15px;
}

.article-wrapper-home {
  position: relative;
}

.article-wrapper-home .article, .article-wrapper .article {
  margin: 28px 0;
}

.article-wrapper-home .article:before, .article-wrapper-home .article:after, .article-wrapper .article:before, .article-wrapper .article:after {
  content: " ";
  display: table;
}

.article-wrapper-home .article:after, .article-wrapper .article:after {
  clear: both;
}

.article-wrapper-home .article .photo-wrapper, .article-wrapper .article .photo-wrapper {
  position: relative;
  width: 267px;
  height: 267px;
  margin-right: 23px;
  float: left;
}

.article-wrapper-home .article .photo-wrapper a, .article-wrapper .article .photo-wrapper a {
  position: absolute;
  width: 100%;
  height: 100%;
}

.article-wrapper-home .article .photo-wrapper a:before, .article-wrapper-home .article .photo-wrapper a:after, .article-wrapper .article .photo-wrapper a:before, .article-wrapper .article .photo-wrapper a:after {
  content: '';
  position: absolute;
  transition: all .3s ease;
  pointer-events: none;
}

.article-wrapper-home .article .photo-wrapper a:before, .article-wrapper .article .photo-wrapper a:before {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 75px;
  height: 89px;
  background-image: url("../images/article-highlighted-leaf.png");
  top: 32px;
  opacity: 0;
  left: calc(50% + 68px);
  display: none;
}

.article-wrapper-home .article .photo-wrapper a:after, .article-wrapper .article .photo-wrapper a:after {
  display: block;
  opacity: 0;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  border-radius: 50%;
  border: 3px solid #384b00;
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  z-index: 2;
  background-color: rgba(56, 75, 0, 0.7);
}

.article-wrapper-home .article .photo-wrapper .photo-wrapper__hover, .article-wrapper .article .photo-wrapper .photo-wrapper__hover {
  transform: translateX(-50%) translateY(-50%);
  transition: all .3s ease;
  fill: #aad23b;
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  z-index: 3;
  opacity: 0;
}

.article-wrapper-home .article .photo-wrapper .photo-wrapper__background, .article-wrapper .article .photo-wrapper .photo-wrapper__background {
  width: 100%;
  height: 100%;
  stroke: #ff7e00;
}

.article-wrapper-home .article .photo-wrapper + .lead-text, .article-wrapper .article .photo-wrapper + .lead-text {
  width: calc(100% - 300px);
  float: left;
}

.article-wrapper-home .article .photo-wrapper:hover a:before, .article-wrapper .article .photo-wrapper:hover a:before {
  opacity: 0;
}

.article-wrapper-home .article .photo-wrapper:hover a:after, .article-wrapper .article .photo-wrapper:hover a:after {
  opacity: 1;
}

.article-wrapper-home .article .photo-wrapper:hover .photo-wrapper__hover, .article-wrapper .article .photo-wrapper:hover .photo-wrapper__hover {
  opacity: 1;
}

.article-wrapper-home .article .lead-main-text, .article-wrapper .article .lead-main-text {
  width: 100%;
  color: #6b7450;
  padding-right: 100px;
}

.article-wrapper-home .article .lead-main-text a, .article-wrapper .article .lead-main-text a {
  color: #ff7f01;
  text-decoration: underline;
}

.article-wrapper-home .article .lead-main-text a:hover, .article-wrapper .article .lead-main-text a:hover {
  text-decoration: none;
}

.article-wrapper-home .article .lead-main-text p, .article-wrapper .article .lead-main-text p {
  margin: 0;
}

.article-wrapper-home .article .article-title, .article-wrapper .article .article-title {
  text-align: left !important;
  display: block;
  margin: 0 0 5px;
  padding-right: 100px;
  color: #ff7f01;
}

.article-wrapper-home .article .article-title a, .article-wrapper .article .article-title a {
  font-size: 2.2rem;
  line-height: 26px;
  font-family: 'PT Sans Bold', sans-serif;
  color: currentColor;
}

.article-wrapper-home .article .article-title a:hover, .article-wrapper .article .article-title a:hover {
  color: currentColor;
}

.article-wrapper-home .article .article-title svg, .article-wrapper .article .article-title svg {
  width: 10px;
  height: 15px;
  margin-left: 5px;
  fill: #af6319;
  display: inline-block;
}

.article-wrapper-home .article .article-date, .article-wrapper .article .article-date {
  color: #9ca877;
  font-size: 1.2rem;
  margin: 0 0 8px;
}

.article-wrapper-home .article .article-date img, .article-wrapper .article .article-date img {
  margin-right: 8px;
}

.article-wrapper-home .article .article-meta, .article-wrapper .article .article-meta {
  margin-top: 20px;
}

.article-wrapper-home .article.highlight-article .photo-wrapper a:before, .article-wrapper .article.highlight-article .photo-wrapper a:before {
  display: block;
  opacity: 1;
}

.article-wrapper-home .article.highlight-article .photo-wrapper:hover a:before, .article-wrapper .article.highlight-article .photo-wrapper:hover a:before {
  opacity: 0;
}

.article-wrapper-home .article.highlight-article .photo-wrapper .photo-wrapper__background, .article-wrapper .article.highlight-article .photo-wrapper .photo-wrapper__background {
  stroke: #75a111;
}

.article-wrapper-home .article.highlight-article .article-title, .article-wrapper .article.highlight-article .article-title {
  color: #75a111;
}

@media screen and (max-width: 1199px) {
  .article-wrapper-home .article .lead-main-text, .article-wrapper-home .article .article-title, .article-wrapper .article .lead-main-text, .article-wrapper .article .article-title {
    padding-right: 0;
  }
}

@media screen and (max-width: 639px) {
  .article-wrapper-home .article .photo-wrapper, .article-wrapper .article .photo-wrapper {
    float: none;
    margin: 0 auto 10px;
  }
  .article-wrapper-home .article .photo-wrapper + .lead-text, .article-wrapper .article .photo-wrapper + .lead-text {
    width: 100%;
    float: none;
  }
  .article-wrapper-home .article .article-title, .article-wrapper-home .article .article-date, .article-wrapper-home .article .article-meta, .article-wrapper .article .article-title, .article-wrapper .article .article-date, .article-wrapper .article .article-meta {
    text-align: center;
  }
}

#content_txt .pagination-wrapper {
  margin: 30px 0;
}

#content_txt .pagination-wrapper ul {
  font-size: 0;
  text-align: left;
}

#content_txt .pagination-wrapper ul li {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: 32px;
  height: 34px;
  padding: 0;
  position: relative;
  line-height: 34px;
}

#content_txt .pagination-wrapper ul li a {
  width: 32px;
  height: 34px;
  display: block;
  text-decoration: none;
  color: #693400;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2);
}

#content_txt .pagination-wrapper ul li a:hover {
  text-decoration: none;
}

#content_txt .pagination-wrapper ul li a:hover div {
  color: #6b7450;
}

#content_txt .pagination-wrapper ul li a:hover .pagination__background {
  fill: #6b7450;
  stroke: #6b7450;
}

#content_txt .pagination-wrapper ul li a:hover .pagination__symbol {
  fill: #6b7450;
}

#content_txt .pagination-wrapper ul li a.btn-first div[aria-hidden="true"] .pagination__symbol {
  transform: translateX(-50%) translateY(-50%) rotate(180deg);
  left: calc(50% - 3px);
}

#content_txt .pagination-wrapper ul li a.btn-first div[aria-hidden="true"]:last-of-type .pagination__symbol {
  transform: translateX(-50%) translateY(-50%) rotate(180deg);
  left: calc(50% + 3px);
}

#content_txt .pagination-wrapper ul li a.btn-prev .pagination__symbol {
  transform: translateX(-50%) translateY(-50%) rotate(180deg);
}

#content_txt .pagination-wrapper ul li a.btn-last div[aria-hidden="true"] .pagination__symbol {
  left: calc(50% - 3px);
}

#content_txt .pagination-wrapper ul li a.btn-last div[aria-hidden="true"]:last-of-type .pagination__symbol {
  left: calc(50% + 3px);
}

#content_txt .pagination-wrapper ul li div:not([aria-hidden="true"]) {
  font-size: 1.4rem;
  transition: all .3s ease;
  font-family: 'PT Sans Bold', sans-serif;
  position: relative;
  z-index: 2;
}

#content_txt .pagination-wrapper ul li div.page-active {
  color: #f8ffe2;
  text-shadow: 0px 1px 0 rgba(0, 0, 0, 0.2);
}

.pagination__symbol {
  width: 10px;
  height: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  fill: #693400;
}

.pagination__background {
  position: absolute;
  transition: all .3s ease;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 32px;
  height: 34px;
  fill: #ff7e00;
  stroke: #ff7e00;
}

.gallery-wrapper .gallery {
  font-size: 0;
}

.gallery-wrapper .gallery li {
  display: inline-block;
  vertical-align: top;
  width: 33.3333%;
  font-size: 1.4rem;
  padding-top: 10px;
  padding-bottom: 10px;
}

.gallery-wrapper .gallery li:nth-child(3n+1) {
  padding-right: 10px;
}

.gallery-wrapper .gallery li:nth-child(3n+2) {
  padding-left: 5px;
  padding-right: 5px;
}

.gallery-wrapper .gallery li:nth-child(3n+3) {
  padding-left: 10px;
}

.gallery-wrapper .gallery li a {
  background-color: #75a111;
  border: 3px solid #75a111;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  display: block;
  height: 165px;
}

.gallery-wrapper .gallery li a:before {
  transition: all .3s ease;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  content: '';
  display: block;
  z-index: 4;
  pointer-events: none;
  background-color: rgba(56, 75, 0, 0.7);
}

.gallery-wrapper .gallery li a:hover:before, .gallery-wrapper .gallery li a:hover .photo-wrapper__hover {
  opacity: 1;
}

.gallery-wrapper .gallery li img {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.gallery-wrapper .gallery li p {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  text-align: center;
  line-height: 18px;
  right: 0;
  width: 100%;
  padding: 8px;
  color: #f8ffe2;
  background-color: #75a111;
  z-index: 2;
}

.gallery-wrapper .photo-wrapper__hover {
  transition: all .3s ease;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 5;
  fill: #aad23b;
}

@media screen and (max-width: 1199px) {
  .gallery-wrapper .gallery li a {
    height: auto;
  }
}

@media screen and (max-width: 991px) {
  .gallery-wrapper .gallery li {
    width: 50%;
  }
  .gallery-wrapper .gallery li:nth-child(even) {
    padding-left: 10px;
    padding-right: 0;
  }
  .gallery-wrapper .gallery li:nth-child(odd) {
    padding-left: 0;
    padding-right: 10px;
  }
}

@media screen and (max-width: 479px) {
  .gallery-wrapper .gallery li {
    padding: 10px 0 !important;
    width: 100%;
  }
}

.txt_err {
  color: #fff;
  border: 2px solid #ff7f01;
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
  background: #ff7e00;
  font-weight: normal;
}

.txt_err a {
  color: #fff;
}

.txt_msg {
  color: #fff;
  background-color: #75a111;
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
  font-weight: normal;
}

.txt_com {
  color: #6b7450;
  border: 2px solid #6b7450;
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
  font-weight: normal;
}

.txt_err p, .txt_com p, .txt_msg p {
  margin: 0;
}

#content_txt .txt_err a, #content_txt .txt_err a:visited {
  text-decoration: underline;
  color: #fff;
}

#content_txt .txt_err a:hover, #content_txt .txt_err a:visited:hover {
  text-decoration: none;
}

.inError {
  border-color: #ff7f01 !important;
  background: #fff !important;
}

.inText,
.inTextSmall,
.inTextArea {
  display: block;
  width: 300px;
}

.inText,
.inTextSmall {
  height: 41px;
}

.inTextSmall {
  width: 40px;
}

.inTextArea {
  height: 180px;
}

.anchor {
  position: relative;
  height: 0;
  width: 0;
  top: -60px;
  display: block;
}

#content_txt form {
  margin-top: 20px;
}

.formL {
  width: 160px;
  float: left;
  text-align: right;
  padding: 7px 10px 0 0;
  min-height: 10px;
}

.formL:empty {
  padding: 0;
  min-height: 1px;
}

.formR {
  width: calc(100% - 160px);
  float: left;
  margin: 0 0 10px 0;
  position: relative;
}

.formR.radio {
  margin-top: 8px;
}

.formR.radio:before, .formR.radio:after {
  content: " ";
  display: table;
}

.formR.radio:after {
  clear: both;
}

.formR.radio > div {
  float: left;
}

.formR.radio > div:before, .formR.radio > div:after {
  content: " ";
  display: table;
}

.formR.radio > div:after {
  clear: both;
}

.formR.radio label {
  transform: translateX(-13px);
  float: left;
  position: relative;
}

.formR.radio label:before {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  border-radius: 50%;
  border: 2px solid #586f23;
  background-color: #fff;
  left: 0;
  top: 0;
}

.formR.radio label:after {
  content: '';
  display: none;
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #586f23;
  z-index: 2;
  left: 4px;
  top: 4px;
}

.formR.radio input[type="radio"] {
  display: block;
  float: left;
  position: static;
  margin: 0 0 0 2px;
  transform: translateX(3px) translateY(1px);
}

.formR.radio input[type="radio"]:checked + label:after {
  display: block;
}

.formR.login {
  margin-top: 7px;
  padding: 0;
}

.formR p {
  margin: 10px 0;
}

.formR p:empty {
  margin: 0;
}

.formR .msgMarg:empty {
  display: none;
}

.formR .button-wrapper {
  margin-bottom: 10px;
}

.formLabel {
  font-weight: normal;
}

.msgMarg {
  margin: 5px 0;
  color: #c33d1a;
  display: inline-block;
}

.msgError {
  color: #c33d1a;
}

#avatar_f {
  position: absolute;
  left: 0;
  top: -8px;
  width: 320px;
  height: 50px;
  filter: alpha(opacity=0);
  -ms-filter: "alpha(opacity=0)";
  -khtml-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  cursor: pointer;
}

.forumAvatarImage {
  border: 2px solid #6b7450;
  max-width: 55px !important;
  height: auto !important;
}

.avatarFrameImage {
  border: 2px solid #6b7450;
}

.asterisk {
  color: #c33d1a;
  margin-right: 5px;
}

.login {
  padding-top: 5px;
  font-weight: normal;
}

.captchaTxt {
  margin: 0 10px 0 0;
  float: left;
  line-height: 36px;
}

@media screen and (max-width: 639px) {
  .formL {
    float: none;
    width: 100%;
    text-align: left;
  }
  .formR {
    float: none;
    width: 100%;
  }
  .formR input[type="submit"] {
    margin-top: 10px;
  }
  .inText,
  .inTextArea {
    width: 100%;
  }
  #editForm .clear, #loginForm .clear, #registerForm .clear, #addForm .clear, #delForm .clear {
    display: none;
  }
}

#forumActions {
  float: right;
  margin: 0;
  padding: 0;
}

#forumActions li {
  float: left;
  list-style-type: none;
  margin-left: 5px;
}

.tableTopics {
  width: 100%;
  margin: 10px 0 10px 0;
}

.tableTopics th {
  font-weight: normal;
}

.tableTopics th.topics, .tableTopics th.responds {
  text-align: center;
  width: 80px;
  font-size: 1.083em;
  color: #fff;
  font-weight: normal;
}

.tableTopics td.topics, .tableTopics td.responds {
  text-align: center;
  width: 80px;
  font-size: 1.083em;
  font-weight: normal;
}

#content_txt .topicLink {
  font-weight: normal;
  text-decoration: underline;
  color: #75a111;
}

#content_txt .topicLink:hover {
  text-decoration: none;
}

.respondButtonList {
  margin: 10px 0;
}

.respondButtonList li {
  list-style-type: none;
  float: left;
  border: none !important;
  margin-right: 10px;
  margin-bottom: 10px;
}

.forum-wrapper .author {
  display: block;
  color: #6b7450;
  word-wrap: break-word;
  padding-right: 10px;
}

.forum-threads-wrapper {
  margin: 20px 0;
  border-top: 2px solid #6b7450;
  padding: 0 0 25px;
  border-bottom: 2px solid #6b7450;
}

.forum-threads-wrapper h3 {
  margin-top: 10px;
}

.forum-answers-wrapper {
  margin: 20px 0;
}

.listPosts {
  margin: 0;
  padding: 0;
}

.listPosts li {
  list-style-type: none;
  border-bottom: 2px solid #6b7450;
}

.listPosts > li {
  margin-bottom: 20px;
  padding-bottom: 25px;
}

.topicText, .postText {
  padding: 10px 0;
  position: relative;
}

.topicAuthor, .postAuthor {
  padding: 0 0 10px 0;
  float: left;
  width: 90px;
  position: relative;
  margin: 10px 0 0 0;
}

.topicDate, .postDate {
  position: absolute;
  right: 0;
  top: 20px;
  font-weight: normal;
  color: #6b7450;
  font-size: 0.92em;
}

.topicHour, .postHour {
  position: absolute;
  right: 0;
  top: 35px;
  font-size: 0.91em;
  color: #6b7450;
}

.topicContent, .postContent {
  padding: 10px 0 0 0;
  float: left;
  width: 100%;
  max-width: 530px;
  color: #6b7450;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.cita {
  position: relative;
}

.citaStart {
  display: block;
  width: 34px;
  height: 33px;
  position: absolute;
  left: 0;
  bottom: -10px;
}

.citaEnd {
  display: block;
  width: 34px;
  height: 33px;
  position: absolute;
  right: 0;
  top: -10px;
}

.citaBlock {
  font-style: italic;
  margin: 10px 50px 20px 50px;
  color: #693400;
  font-size: 1.3rem;
}

@media screen and (max-width: 767px) {
  .forum-threads-wrapper {
    margin: 30px 0;
  }
  .forum-answers-wrapper {
    margin: 30px 0;
  }
}
