.files-wrapper, .gallery-wrapper, .article-wrapper {
    margin-top: 15px;
}

.article-wrapper-home {
    position: relative;
}

.article-wrapper-home, .article-wrapper {
    .article {
        @include clearfix();
        margin: 28px 0;
        .photo-wrapper {
            position: relative;
            width: 267px;
            height: 267px;
            margin-right: 23px;
            float: left;
            a {
                position: absolute;
                width: 100%;
                height: 100%;
                &:before, &:after {
                    content: '';
                    position: absolute;
                    transition: all .3s ease;
                    pointer-events: none;
                }
                &:before {
                    @include centerImage();
                    width: 75px;
                    height: 89px;
                    background-image: url('../images/article-highlighted-leaf.png');
                    top: 32px;
                    opacity: 0;
                    left: calc(50% + 68px);
                    display: none;
                }
                &:after {
                    display: block;
                    opacity: 0;
                    width: calc(100% - 4px);
                    height: calc(100% - 4px);
                    border-radius: 50%;
                    border: 3px solid #384b00;
                    top: 2px;
                    left: 2px;
                    bottom: 2px;
                    right: 2px;
                    z-index: 2;
                    background-color: rgba(56,75,0,0.7);
                }
            }
            .photo-wrapper__hover {
                transform: translateX(-50%) translateY(-50%);
                transition: all .3s ease;
                fill: rgb(170, 210, 59);
                position: absolute;
                display: block;
                top: 50%;
                left: 50%;
                z-index: 3;
                opacity: 0;
            }
            .photo-wrapper__background {
                width: 100%;
                height: 100%;
                stroke: #ff7e00;
            }
            & + .lead-text {
                width: calc(100% - 300px);
                float: left;
            }
            &:hover {
                a {
                    &:before {
                        opacity: 0;
                    }
                    &:after {
                        opacity: 1;
                    }
                }
                .photo-wrapper__hover {
                    opacity: 1;
                }
            }
        }
        .lead-main-text {
            width: 100%;
            color: $base;
            padding-right: 100px;
            a {
                color: $attention;
                text-decoration: underline;
                &:hover {
                    text-decoration: none;
                }
            }
            p {
                margin: 0;
            }
        }
        .article-title {
            text-align: left !important;
            display: block;
            margin: 0 0 5px;
            padding-right: 100px;
            color: $attention;
            a {
                font-size: 2.2rem;
                line-height: 26px;
                font-family: 'PT Sans Bold', sans-serif;
                color: currentColor;
                &:hover {
                    color: currentColor;
                }
            }
            svg {
                width: 10px;
                height: 15px;
                margin-left: 5px;
                fill: rgb(175, 99, 25);
                display: inline-block;
            }
        }
        .article-date {
            color: #9ca877;
            font-size: 1.2rem;
            margin: 0 0 8px;
            img {
                margin-right: 8px;
            }
        }
        .article-meta {
            margin-top: 20px;
        }
        &.highlight-article {
            .photo-wrapper {
                a {
                    &:before {
                        display: block;
                        opacity: 1;
                    }
                }
                &:hover {
                    a {
                        &:before {
                            opacity: 0;
                        }
                    }
                }
                .photo-wrapper__background {
                    stroke: rgb(117, 161, 17);
                }
            }
            .article-title {
                color: #75a111;
            }
        }
    }
}
@media screen and (max-width: 1199px) {
    .article-wrapper-home, .article-wrapper {
        .article {
            .lead-main-text, .article-title {
                padding-right: 0;
            }
        }
    }
}
@media screen and (max-width: 639px) {
    .article-wrapper-home, .article-wrapper {
        .article {
            .photo-wrapper {
                float: none;
                margin: 0 auto 10px;
                & + .lead-text {
                    width: 100%;
                    float: none;
                }
            }
            .article-title, .article-date, .article-meta {
                text-align: center;
            }
        }
    }          
}