.page-footer {
	position: relative;
	padding: 12px 0 120px;
	overflow: hidden;
	margin: 35px 0 0;
	&:before {
		content: '';
		display: block;
		width: 2285px;
		height: 894px;
		position: absolute;
		top: -170px;
		left: 50%;
		pointer-events: none;
		transform: translateX(-50%);
		background-size: auto auto;
		background-repeat: no-repeat;
		background-position: center center;
		background-image: url('../images/footer/footer-background.png');
	}
	.col-xs-12 {
        position: static;
    }
    .row {
        & > div {
            min-height: 0;
        }
    }
    .topMenu {
    	position: relative;
        z-index: 3;
        font-size: 0;
        text-align: center;
        &:before {
        	@include centerImage();
        	content: '';
        	display: block;
        	width: 75px;
        	height: 96px;
        	background-image: url('../images/footer/footer-leaf.png');
        	position: absolute;
        	left: -10px;
        	top: -6px;
        	z-index: 3;
        }
        li {
            font-family: 'PT Sans Bold', sans-serif;
            font-size: 18px;
            display: inline-block;
            position: relative;
            max-width: 100%;
            &:not(:last-child) {
                &:after {
                    content: '';
                    display: block;
                    width: 15px;
                    height: 15px;
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateX(50%) translateY(-50%);
                    pointer-events: none;
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-image: url('../images/circle.svg');
                }
            }
            a {
                display: block;
                color: #693400;
                padding: 8px 18px;
                text-shadow: 0px 1px 0px rgba(255, 189, 0, 0.4);
                &:hover, &.selected {
                    color: #fffd79;
                    text-decoration: none;
                }
            }
        }
    }
}
.footer__copyright {
	position: relative;
	padding: 13px;
	line-height: 16px;
	z-index: 3;
	margin: 0;
	display: inline-block;
	vertical-align: middle;
	font-size: 1.3rem;
	color: $color1;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2);
	a {
		color: currentColor;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
	& + br {
		display: none;
	}
}
.footer__inner {
    position: absolute;
    z-index: 2;
	top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: calc(100% - 108px);
    width: 1270px;
}
.footer__gotop {
	display: none;
}
@media screen and (max-width: 1199px) {
	.page-footer {
		.topMenu {
			&:before {
				left: -40px;
			}
		}
	}
	.footer__inner {
		width: 1070px;
	}
}
@media screen and (max-width: 991px) {
	.page-footer {
		background-color: $attention;
		color: $color1;
		text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2);
		margin: 20px 0 0;
		padding: 12px 0 25px;
		&:before, .topMenu {
			display: none;
		}
	}
	.footer__copyright {
		font-size: 1.5rem;
		line-height: 18px;
		font-family: 'PT Sans Bold', sans-serif;
		color: $color1;
		text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2);
		& + br {
			display: block;
		}
	}
	.footer__inner {
		display: none;
	}
	.footer__gotop {
		font-size: 1.5rem;
		line-height: 18px;
		font-family: 'PT Sans Bold', sans-serif;
		display: inline-block;
		color: $color1;
		text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2);
		text-decoration: underline;
		&:hover {
			text-decoration: none;			
		}
	}
}