.txt_err {
    color: #fff; 
    border: 2px solid $attention; 
    text-align: center; 
    padding: 10px; 
    margin-bottom: 20px; 
    background: #ff7e00; 
    font-weight: normal;
    a {
        color: #fff;
    }
}
.txt_msg {
    color: #fff; 
    background-color: #75a111;
    text-align: center; 
    padding: 10px; 
    margin-bottom: 20px; 
    font-weight: normal;
}
.txt_com {
    color: $base; 
    border: 2px solid $base; 
    text-align: center; 
    padding: 10px; 
    margin-bottom: 20px; 
    font-weight: normal;
}
.txt_err, .txt_com, .txt_msg {
    p {
        margin: 0;
    }
}
#content_txt {
    .txt_err {
        a, a:visited {
            text-decoration: underline;
            color: #fff;
            &:hover {
                text-decoration: none;
            }
        }
    }
}

.inError {
    border-color: $attention !important; 
    background: #fff !important;
}
.inText,
.inTextSmall,
.inTextArea {
    display: block;
    width: 300px;
}
.inText,
.inTextSmall {
    height: 41px;
}
.inTextSmall {
    width: 40px;
}
.inTextArea {
    height: 180px;
}
.anchor {
    position: relative; 
    height: 0; 
    width: 0; 
    top: -60px; 
    display: block;
}

#content_txt {
    form {
        margin-top: 20px;
    }
}
.formL {
    width: 160px; 
    float: left; 
    text-align: right; 
    padding: 7px 10px 0 0; 
    min-height: 10px;
    &:empty {
        padding: 0;
        min-height: 1px;
    }
}
.formR {
    width: calc(100% - 160px);
    float: left;
    margin: 0 0 10px 0; 
    position: relative;
    &.radio {
        margin-top: 8px;
        @include clearfix();
        & > div {
            @include clearfix();
            float: left;
        }
        label {
           transform: translateX(-13px);
            float: left;
            position: relative;
            &:before {
                content: '';
                display: block;
                width: 16px;
                height: 16px;
                position: absolute;
                border-radius: 50%;
                border: 2px solid #586f23;
                background-color: #fff;
                left: 0;
                top: 0;
            }
            &:after {
                content: '';
                display: none;
                position: absolute;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color: #586f23;
                z-index: 2;
                left: 4px;
                top: 4px;
            }
        }
        input[type="radio"] {
            display: block;
            float: left;
            position: static;
            margin: 0 0 0 2px;
            transform: translateX(3px) translateY(1px);
            &:checked {
                & + label {
                    &:after {
                        display: block;
                    }
                }
            }   
        }
    }
    &.login {
        margin-top: 7px; 
        padding: 0;
    }
    p {
        margin: 10px 0;
        &:empty {
            margin: 0;
        }
    }
    .msgMarg:empty {
        display: none;
    }
    .button-wrapper {
        margin-bottom: 10px;
    }
}
.formLabel { 
    font-weight: normal;
}
.msgMarg {
    margin: 5px 0; 
    color: #c33d1a;
    display: inline-block;
} 
.msgError {
    color: #c33d1a;
}
#avatar_f {
    position: absolute; 
    left: 0; 
    top: -8px; 
    width: 320px; 
    height: 50px; 
    filter:alpha(opacity=0); 
    -ms-filter: "alpha(opacity=0)"; 
    -khtml-opacity:0; 
    -moz-opacity:0; 
    opacity:0; 
    cursor: pointer;
}

.forumAvatarImage {
    border: 2px solid $base; 
    max-width: 55px !important; 
    height: auto !important;
}
.avatarFrameImage {
    border: 2px solid $base;
}

.asterisk {
    color: #c33d1a; 
    margin-right: 5px;
}
.login {
    padding-top: 5px; 
    font-weight: normal;
}
.captchaTxt {
    margin: 0 10px 0 0;
    float: left;
    line-height: 36px;
}
@media screen and (max-width: 639px) {
    .formL {
        float: none; 
        width: 100%;
        text-align: left;
    }
    .formR {
        float: none;
        width: 100%;
        input[type="submit"] {
            margin-top: 10px;
        }
    }
    .inText,
    .inTextArea {
        width: 100%;
    }
    #editForm, #loginForm, #registerForm, #addForm, #delForm {
        .clear {
            display: none;
        }
    }
}