.gallery-wrapper {
    .gallery {
        font-size: 0;
        li {
            display: inline-block;
            vertical-align: top;
            width: 33.3333%;
            font-size: 1.4rem;
            padding-top: 10px;
            padding-bottom: 10px;
            &:nth-child(3n+1) {
                padding-right: 10px;
            }
            &:nth-child(3n+2) {
                padding-left: 5px;
                padding-right: 5px;
            }
            &:nth-child(3n+3) {
                padding-left: 10px;
            }
            a {
                background-color: #75a111;
                border: 3px solid #75a111;
                border-radius: 15px;
                position: relative;
                overflow: hidden;
                z-index: 1;
                display: block;
                height: 165px;
                &:before {
                    transition: all .3s ease;
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    content: '';
                    display: block;
                    z-index: 4;
                    pointer-events: none;
                    background-color: rgba(56, 75, 0, 0.7);
                }
                &:hover {
                    &:before, .photo-wrapper__hover {
                        opacity: 1;
                    }
                }
            }
            img {
                display: block;
                width: 100%;
                margin: 0 auto;
            }
            p {
                position: absolute;
                bottom: 0;
                left: 0;
                margin: 0;
                text-align: center;
                line-height: 18px;
                right: 0;
                width: 100%;
                padding: 8px;
                color: rgb(248,255,226);
                background-color: #75a111;
                z-index: 2;
            }
        }
    }
    .photo-wrapper__hover {
        transition: all .3s ease;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        z-index: 5;
        fill: rgb(170, 210, 59);
    }
}
@media screen and (max-width: 1199px) {
    .gallery-wrapper {
        .gallery {
            li {
                a {
                    height: auto;
                }
            }
        }
    }
}
@media screen and (max-width: 991px) {
    .gallery-wrapper {
        .gallery {
            li {
                width: 50%;
                &:nth-child(even) {
                    padding-left: 10px;
                    padding-right: 0;
                }
                &:nth-child(odd) {
                    padding-left: 0;
                    padding-right: 10px;
                }
            }
        }
    }
}
@media screen and (max-width: 479px) {
    .gallery-wrapper {
        .gallery {
            li {
                padding: 10px 0 !important;
                width: 100%;
            }
        }
    }
}
