.header {
	@include clearfix();
	position: relative;
}
.header__background {
	width: 100%;
	height: 548px;
	position: absolute;
	left: 0;
	right: 0;
	background-size: auto auto;
	background-position: center top;
	background-image: url('../images/header/background.png');
	background-repeat: no-repeat; 
}
.header__content {
	float: left;
	margin: 229px 0 100px;
	width: 390px;
	padding: 0 35px 0 50px;
	.name {
		font-family: 'PT Sans Bold', sans-serif;
		font-size: 2.4rem;
		line-height: 27px;
		color: #344500;
		margin: 0 0 15px;
	}
}
.header__address {
	font-size: 1.6rem;
	line-height: 19px;
	font-family: 'PT Sans Bold', sans-serif;
	margin: 21px 0 0;
	color: #344500;
	p {
		margin: 0;
	}
	a {
		word-break: break-all;
		text-decoration: underline;
		color: currentColor;
		&:hover {
			text-decoration: none;
		}
	}
}
#banner {
	width: 750px;
	height: 503px;
	float: left;
	position: relative;
	&:before, &:after {
		content: '';
		display: block;
		position: absolute;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		z-index: 3;
		pointer-events: none;
	}
	&:before {
		background-image: url('../images/header/banner-leaves.png');
		width: 156px;
		height: 210px;
		top: 270px;
		left: -2px;
	}
	&:after {
		background-image: url('../images/header/banner-leaf.png');
		width: 149px;
		height: 216px;
		top: 26px;
		right: -3px;
	}
}
.banner__back {
	position: absolute;
	top: 0;
	left: 0;
	width: 706px;
	height: 492px;
	path {
		fill: #ff7e00;
		stroke: #ff7e00;
	}
}
.banner__outer {
	position: absolute;
	top: 0;
	left: 15px;
	width: 735px;
	height: 503px;
	path {
		fill: #d0f94e;
	}
}
.banner__photo {
	transform: translateX(23px) translateY(-45px);
	position: relative;
	svg {
		width: 700px;
		height: 535px;
	}
}
@media screen and (max-width: 1199px) {
	.header__content {
		padding: 0 15px;
		margin: 140px 0 80px;
		width: 320px;
	}
	#banner {
		width: 620px;
		height: 416px;
		&:before {
			top: 183px;
			left: -16px;
		}
	}
	.banner__back {
		width: 576px;
		height: 401px;
	}
	.banner__outer {
		width: 605px;
		height: 414px;
	}
	.banner__photo {
		transform: translateX(23px) translateY(-42px);
		svg {
			width: 568px;
			height: 434px;
		}
	}
}
@media screen and (max-width: 991px) {
	#banner {
		margin: 0 auto;
		float: none;
		&:after {
			top: -20px;
		}
	}
	.header__content {
		float: none;
		margin: 20px auto 0;
		width: 100%;
		max-width: 320px;
		padding: 0;
	}
}
@media screen and (max-width: 639px) {
	#banner {
		width: 450px;
		height: 302px;
		&:before {
			top: 140px;
		}
		&:after {
			right: 0;
		}
	}
	.banner__back {
		width: 406px;
		height: 283px;
	}
	.banner__outer {
		width: 435px;
		height: 298px;
	}
	.banner__photo {
		transform: translateX(23px) translateY(-23px);
		svg {
			width: 398px;
			height: 304px;
		}
	}
}
@media screen and (max-width: 479px) {
	#banner {
		width: 370px;
		height: 248px;
		&:before, &:after {
			transform: scale(0.6);
			transform-origin: 50% 0;
		}
	}
	.banner__back {
		width: 340px;
		height: 237px;
	}
	.banner__outer {
		width: 350px;
		height: 240px;
	}
	.banner__photo {
		svg {
			width: 330px;
			height: 252px;
		}
	}
}
@media screen and (max-width: 400px) {
	#banner {
		width: 290px;
		height: 195px;
		&:before, &:after {
			transform: scale(0.4);
		}
		&:before {
			top: 105px;
			left: -35px;
		}
		&:after {
			right: -30px;
		}
	}
	.banner__back {
		width: 265px;
		height: 185px;
	}
	.banner__outer {
		width: 280px;
		height: 192px;
	}
	.banner__photo {
		svg {
			width: 250px;
			height: 191px;
		}
	}
}