.navbar {
    position: relative;
    min-height: 0;
    margin: 0;
    border: 0;
    border-radius: 0;
    padding: 12px 0;
    .col-xs-12 {
        position: static;
    }
    .row {
        & > div {
            min-height: 0;
        }
    }
    .topMenu {
        position: relative;
        z-index: 3;
        font-size: 0;
        transform: translateY(-33px);
        text-align: center;
        li {
            font-family: 'PT Sans Bold', sans-serif;
            font-size: 18px;
            display: inline-block;
            position: relative;
            max-width: 100%;
            &:not(:last-child) {
                &:after {
                    content: '';
                    display: block;
                    width: 15px;
                    height: 15px;
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateX(50%) translateY(-50%);
                    pointer-events: none;
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-image: url('../images/circle.svg');
                }
            }
            a {
                display: block;
                color: #693400;
                padding: 8px 18px;
                text-shadow: 0px 1px 0px rgba(255, 189, 0, 0.4);
                &:hover, &.selected {
                    color: #fffd79;
                    text-decoration: none;
                }
            }
        }
        .dropdown-menu {
            background-color: #ff7e00;
            width: 211px;
            z-index: 6;
            left: 50%;
            transform: translateX(-50%);
            float: none;
            border: 0;
            padding: 14px 6px 0;
            border-radius: 0;
            box-shadow: none;
            &:after {
                @include centerImage();
                content: '';
                width: 223px;
                height: 32px;
                display: block;
                position: absolute;
                left: 50%;
                bottom: -32px;
                background-image: url('../images/toolbar/dropdown-menu-bottom.png');
                transform: translateX(-50%);
            }
            & > li {
                display: block;
                &:not(:last-child) {
                    &:before {
                        @include centerImage();
                        content: '';
                        display: block;
                        width: 206px;
                        height: 47px;
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        transform: translateX(-50%) translateY(50%);
                        pointer-events: none;
                        background-image: url('../images/toolbar/dropdown-menu-shadow.png');
                    }
                    &:after {
                        right: 50%;
                        top: 100%;
                        transform: translateX(50%) translateY(-50%);
                    }
                }
                & > a {
                    font-size: 1.8rem;
                    line-height: 22px;
                    font-family: 'PT Sans Bold', sans-serif;
                    padding: 10px 18px;
                    width: 100%;
                    color: #693400;
                    display: block;
                    text-align: center;
                    &:hover {
                        color: #fffd79;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}
.navbar__outer {
    position: absolute;
    top: -52px;
    left: 50%;
    transform: translateX(-50%);
    height: calc(100% + 38px);
    bottom: 0;
    width: 1170px;
    z-index: 0;
}
.navbar__inner {
    position: absolute;
    z-index: 2;
    top: -34px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    height: 100%;
    width: 1270px;
}
.navbar__outer--path {
    fill: #caf846;
}
.navbar__outer--path1 {
    fill: rgb(255, 126, 0);
}
@media screen and (max-width: 1199px) {
    .navbar__outer {
        width: 970px;
    }
    .navbar__inner {
        width: 1070px;
    }
}
@media screen and (min-width: 992px) {
    .navbar {
        min-height: 65px;
        display: block !important;
    }
}
@media screen and (max-width: 991px) {
    .navbar__inner, .navbar__outer {
        display: none;
    }
    .menu-top {
        position: relative;
        z-index: 6;
    }
    .navbar {
        padding: 0;
        background-color: $attention;
        .topMenu {
            border-top: 3px solid #fff;
            transform: translateX(-15px);
            width: calc(100% + 30px);
            background-color: $attention;
            li {
                display: block;
                &:not(:last-child) {
                    &:after {
                        display: none;
                    }
                }
                a {
                    color: #fff;
                    text-shadow: 0 1px 0 rgba(0,0,0,0.2);
                }
            }
            .dropdown-menu {
                position: static;
                width: 100%;
                transform: none;
                padding: 0;
                background-color: $attention - #111;
                &:after {
                    display: none;
                }
                & > li {
                    &:not(:last-child) {
                        &:before, &:after {
                            display: none;
                        }
                    }
                    & > a {
                        padding: 8px 18px;
                        color: #fff;
                    }
                }
            } 
        }
        .container {
            width: 100%;
        }
    }
    .navbar-collapse {
        position: absolute;
        width: 100%;
        top: 50px;
        left: 0;
        right: 0;
        overflow: hidden;
        padding: 0;
        &.collapse {
            overflow: hidden !important;
            height: 0 !important;
            &.in {
                overflow: visible !important;
                height: auto !important;
            }
        }
    }
    .navbar-header {
        display: block;
        float: none;
    }
    .navbar-toggle {
        float: none;
        display: block;
        width: 100%;
        padding: 13px 15px;
        margin: 0;
        i {
            margin-left: 0;
            pointer-events: none;
            transition: all .3s ease;
            display: block;
            width: 36px;
            height: 3px;
            background-color: #fff;
            &:not(:last-of-type) {
                margin-bottom: 7px;
            }
        }
        &[aria-expanded="true"] {
            i {
                &:first-of-type {
                    transform: rotate(45deg) translateX(8px) translateY(7px);
                }
                &:nth-of-type(2) {
                    opacity: 0;
                }
                &:last-of-type {
                    transform: rotate(-45deg)  translateX(7px) translateY(-6px);
                }
            }
        }
    }
    .navbar-top {
        display: none;
    }
}