#advertsLeftWrapper {
	margin: 0; 
	text-align: center;
}
#advertsTopWrapper {
	text-align: center;
	margin: 30px 0;
}
#advertsLeftContent {
	position: relative;
	padding: 52px 21px 15px;
	font-size: 1.4rem;
	line-height: 18px;
	color: $base;
	a {
		color: $attention;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
}
.advertLeft {
	text-align: left;
	margin-bottom: 30px;
	img {
		max-width: 208px;
		display: block;
		width: auto !important;
		height: auto !important;
		margin: 5px auto 0;
	}
	table {
		text-align: left;
	}
}
.advertTop {
	text-align: left;
	margin-bottom: 30px;
	iframe, object {
		max-width: 100%; 
		height: auto;
	}
	img {
		max-width: 700px;
		width: auto !important;
		height: auto !important;
		margin: 5px auto 0;
		display: block;
	}
	a {
		color: $attention;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
	table {
		text-align: left;
	}
}
.video {
	iframe {
		display: block;
		margin: 20px auto;
	}
}
.location {
	iframe {
		display: block;
		margin: 20px auto 0;
	}
}
.clock-container {
	position: relative;
	width: 76px;
	height: 76px;
	text-align: center;
	border-radius: 50%;
	padding: 9px 0 0;
	svg {
		position: relative;
		z-index: 5;
		width: 59px;
		height: 59px;
		&.clock-container__background {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: block;
			right: 0;
			z-index: 4;
			fill: rgb(115, 124, 15);
		}
	}
}
img + .delete {
	margin-left: 5px;
	color: $base;
	text-decoration: underline;
	&:hover {
		text-decoration: none;
	}
}
#crumbpath {
	padding: 0 0 20px 0; 
	color: $base;
	a {
		color: currentColor;
		text-decoration: none; 
		font-family: 'PT Sans Bold', sans-serif;
		&:hover, &:focus {
			text-decoration: underline;
		}
	}
	ol {
	    display: inline;
	    margin-bottom: 0;
	    vertical-align: top;
		li {
		    display: inline;
		    padding-left: 5px;
		    padding-right: 5px;
			.icon {
			    font-size: 12px;
			    margin-left: 0;
			    margin-right: 10px;
			}
		}
	}
}
.pathSep {
	margin: 0 10px;
}
.here {
	display: inline-block; 
	vertical-align: top; 
	margin-right: 15px;
}

.search-list, .files-wrapper {
	margin-top: 15px;
	margin-bottom: 15px;
}
#content_txt {
	.board {
		color: #fff;
		text-align: left;
		h1,h2,h3,h4,h5,h6 {
			color: #fff;
		}
		a {
			&:hover {
				text-decoration: none;
			}
		}
		blockquote {
			border-left-color: #fff;
		}
	}
	.class-list {
		li {
			margin-bottom: 10px; 
			font-size: 1.6rem;
			a, a:visited {
				color: $base;
				font-weight: normal;
			}
			a {
				&:hover {
					text-decoration: none;
					span {
						text-decoration: underline;
					}
				}
			}
		}
		.timetable {
			.txt-err {
				margin-bottom: 0;
			}
		}
	}
	.sitemap {
		margin: 0 0 30px 10px;
		padding: 0 0 0 10px;
		list-style: disc;
		.sitemap {
			margin-bottom: 0;
		}
		li {
			margin: 10px 0;
			position: relative;
			a, a:visited {
				font-weight: normal;
			}
			a {
				text-decoration: none;
				&:hover, &:focus {
					text-decoration: underline;
					color: $attention;
				}
			}
		}
	}
}
.protectedPage {
	margin-left: 5px;
    transform: translateY(-1px);
    svg {
    	width: 10px;
    	height: 15px;
    	fill: rgb(175, 99, 25);
    }
    i {
    	display: none;
    }
}
.file_input_div, .comment {
	display: block;
	margin: 10px 0 0;
}
.search-lead {
	border-bottom: 1px solid $base;
	padding-bottom: 15px;
	&:empty {
		display: none;
	}
}
.search-text {
	h3 {
		a {
			font-size: 1.6rem !important;
			color: #75a111 !important;
			font-weight: 400 !important;
			margin: 10px 0;
		}
	}
}
.timetable {
	margin: 10px 0;
	caption {
		font-weight: normal; 
		padding: 8px 0;  
		color: $base;
		text-transform: uppercase;
	}
}
.planLp {
	text-align: center
}
.planLesson {
	font-weight: normal;
}
.qAnswer {
	float: left;
	margin-top: 10px;
	font-size: 1.3rem;
	width: calc(100% - 62px);
	font-family: 'PT Sans Bold', sans-serif;
	word-wrap: break-word;
	overflow-wrap: break-word;
}
.qPercent {
	float: right;
	text-align: right;
	margin: 10px 0 0;
	padding: 0;
	color: $base;
	font-family: 'PT Sans Bold', sans-serif;
	font-size: 2.4rem;
	line-height: 24px;
}
.qBar {
	background: #586f23;
	height: 6px;
	border-radius: 2px;
	border-bottom: 1px solid #8fbd27;
	margin: 5px 0 15px 0;
}
.questionnaireList {
	input[type="radio"] {
		width: 16px;
		height: 16px;
		margin: 0;
		padding: 0;
		opacity: 0;
		position: absolute;
		& + label {
			position: relative;
			z-index: 2;
			padding-left: 25px;
			margin: 0 0 10px;
			cursor: pointer;
			.radio {
				display: none;
			}
			.label {
				padding: 0;
				font-size: 1.3rem;
				white-space: normal;
				border-radius: 0;
				color: $base;
			}
			&:before {
				content: '';
				display: block;
				width: 16px;
				height: 16px;
				position: absolute;
				border-radius: 50%;
				border: 2px solid #586f23;
				background-color: #fff;
				left: 0;
				top: 0;
			}
			&:after {
				content: '';
				display: none;
				position: absolute;
				width: 8px;
				height: 8px;
				border-radius: 50%;
				background-color: #586f23;
				z-index: 2;
				left: 4px;
				top: 4px;
			}
		}
		&:checked {
			& + label {
				&:after {
					display: block;
				}
			}
		}
	}
}
.hide {
	position: absolute;
	top: 0;
	left: -9000em;
	width: 1px;
	height: 1px;
}
.clear {
	clear: both;
	padding: 0;
	margin: 0;
	font-size: 1px;
	line-height: 0;
	height: 0;
}
.noMargin {
	margin: 0;
}
.bolder {
	font-weight: normal;
}
img {
	border: none;
}
.rel {
	position: relative;
}

#jokes {
	margin: 0 0 40px 0;
	padding: 0;
	li {
		list-style-type: none;
		margin-bottom: 30px;
		border-bottom: 3px solid $base;
		position: relative;
	}
}
.jokeText {
	padding: 10px;
	max-width: 100%;
	word-wrap: break-word;
	overflow-wrap: break-word;
	color: $base;
}
.jokeNick {
	background: none;
	color: $color1;
	text-align: right;
	padding: 5px 10px;
}
.jokeDate {
	color: $base;
}
#cookiesMsgWrap {
	border-top-color: $base !important;
	background-color: rgb(248,255,226) !important;
}
#cookiesMsg {
	width: auto !important; 
	padding: 10px !important;
	p {
		color: $base !important;
		margin: 0;
	}
	a {
		color: $base !important;
	}
}

.back-links li {
	margin-bottom: 5px;
}

#backLinks {
	margin: 0; 
	padding: 0;
	li {
		list-style-type: none;
	}
}
@media screen and (max-width: 1199px) {
	#advertsLeftContent {
		&:before {
			bottom: -35px;
			height: 35px;
			width: 212.5px;			
		}
	}
	.advertLeft {
		img {
			max-width: 170px;
		}
	}
}
@media screen and (max-width: 991px) {
    #advertsLeftContent {
    	padding: 22px 15px;
    	margin: 10px 0;
    	&:before {
    		display: none;
    	}
    }
    #crumbpath {
    	padding: 15px;
    }
    .advertLeft {
    	&:last-child {
    		margin-bottom: 0;
    	}
    	img {
    		max-width: 300px;
    	}
    }
}
@media screen and (max-width: 767px) {
    #crumbpath {
    	transform: translateX(-15px);
    	width: calc(100% + 30px);
    }
}
@media screen and (max-width: 730px) {
	.advertTop {
		img {
			max-width: 100%;
		}
	}
}