.modules-top {
	@include clearfix();
	position: relative;
	z-index: 1;
	transform: translateY(-80px) translateX(-20px);
	width: 862px;
	margin-bottom: -74px;
	.row {
		text-align: center;
		font-size: 0;
	}
	#mod_contact {
		a[href^="mailto:"] {
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
		}
	}	
	#mod_login {
		.modules-top__content {
			text-align: left;
			float: none;
			width: 100%;
		}
		.modules-top__icon {
			display: none;
		}
		input[type="text"], 
		input[type="password"] {
			width: calc(100% - 60px);
		}
		label {
			width: 60px;
		}
		input[type="submit"] {
			margin-left: 60px;
		}
	}
	#mod_calendar {
		.modules-top__content {
			float: none;
			width: 100%;
			padding-right: 80px;
		}
		.clock-container {
			position: absolute;
			top: 0;
			right: 0;
		}
		.modules-top__icon {
			display: none;
		}
	}
}
.modules-top__module {
	@include clearfix();
	.background {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
	a, h2 {
		color: currentColor;
	}
	h2 {
		position: relative;
		text-align: left;
		z-index: 3;
		margin: 0 0 16px;
		font-size: 2.2rem;
		line-height: 26px;
		font-family: 'PT Sans Bold', sans-serif;
		letter-spacing: 0.5px;
		text-shadow: 0px 1px 0px rgba(0,0,0,0.2);
	}
}
.modules-top__module--1 {
	color: #e9ff7d;
	.background {
		fill: #75a111;
		stroke: #75a111;
	}
}
.modules-top__module--2 {
	color: #e9ff7d;
	.background {
		fill: #95a111;
		stroke: #95a111;
	}
}
.modules-top__module--3 {
	color: #fcc5a7;
	.background {
		fill: #b74304;
		stroke: #b74304;
	}
}
.modules-top__holder {
	min-height: 198px !important;
	display: inline-block;
	vertical-align: top;
	position: relative;
	font-size: 1.4rem;
	.light--red {
		display: none;
	}
	.light--green {
		display: block;
	}
	.light--red, .light--green {
		position: absolute;
		width: 244px;
		height: 98px;
		top: -2px;
		z-index: 1;
		left: 50%;
		transform: translateX(-50%);
	}
}
.modules-top__holder--1 {
	padding: 50px 50px 35px;
	width: 840px;
	.modules-top__module {
		max-width: 320px;
		margin: 0 auto;
	}
	#mod_video, #mod_timetable, #mod_jokes, #mod_menu, #mod_location, #mod_gallery {
		.modules-top__icon {
			transform: translateY(-15px);
		}
	}
}
.modules-top__holder--2 {
	padding: 50px 35px 35px;	
	width: 415px;
	#mod_calendar {
		.modules-top__content {
			margin: 0;
			max-width: 100%;
		}
	}	
}
.modules-top__holder--3 {
	padding: 50px 30px 35px;	
	width: 285px;
	&:nth-child(2) {
		margin: 0 7px;
	}
	&:nth-child(3) {
		.light--green {
			display: none;
		}
		.light--red {
			display: block;
		}
	}
}
.modules-top__content {
	width: calc(100% - 50px);
	float: left;
	position: relative;
	z-index: 3;
	padding: 0 5px 0 0;
	line-height: 18px;
	max-width: 320px;
	margin: 0 auto;
	p {
		margin: 0;
	}
}
.modules-top__icon {
	float: left;
	transform: translateY(4px) translateX(-1px);
	position: relative;
	z-index: 3;
	width: 50px;
	height: 51px;
	background-size: auto auto;
	background-repeat: no-repeat;
	background-position: right top;
}
@media screen and (max-width: 1199px) {
	.modules-top {
		width: 100%;
		transform: translateY(-85px);
		margin-bottom: -85px;
		#mod_login {
			input[type="text"], input[type="password"] {
				width: calc(100% - 53px);
			}
			label {
				width: 53px;
			}
			input[type="submit"] {
				margin-left: 53px;
			}
		}
	}
	.modules-top__holder--3 {
		width: 238px;
		&:nth-child(2) {
			margin: 0 4px;
		}
	}
	.modules-top__holder--2 {
		width: 362px;
	}
	.modules-top__holder--1 {
		width: 690px;
	}
}
@media screen and (max-width: 991px) {
	.modules-top {
		transform: none;
		padding: 0 15px;
		margin-bottom: 15px;
	}
	.modules-top__holder--3 {
		width: 237px;
	}
	.modules-top__holder--2 {
		width: 360px;
		padding-top: 30px;
	}
	.modules-top__holder--1 {
		width: 720px;
		padding-top: 30px;
	}
	.modules-top__holder {
		padding-top: 20px;
		.light--red, .light--green {
			display: none !important;
		}
	}
}
@media screen and (max-width: 767px) {
	.modules-top {
		width: 280px;
		margin: 0 auto 25px;
		.row {
			& > div {
				&:first-child {
					z-index: 3;
				}
				&:nth-child(2) {
					z-index: 2;
				}
				&:nth-child(3) {
					z-index: 1;
				}
			}
		}
	}
	.modules-top__holder {
		height: auto !important;
		padding: 20px 20px 25px;
		margin: 0 auto -20px !important;
		width: 100% !important;
	}
}