#modules-bottom {
	padding-top: 80px;
	&:before {
		@include centerImage();
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 50%;
		width: 847px;
		height: 55px;
		pointer-events: none;
		transform: translateX(-50%);
		background-image: url('../images/header-decoration.png');
	}
}
.modules-content {
	@include clearfix();
	width: 862px;
	text-align: center;
	position: relative;
	font-size: 0;
	transform: translateX(-20px);
}
.modules-content__module {
	width: 278px;
	min-height: 250px !important;
	display: inline-block;
	vertical-align: top;
	position: relative;
	cursor: pointer;
	font-size: 1.4rem;
	&:not(:first-child) {
		margin-left: 5px;
	}
	&:not(:last-child) {
		margin-right: 5px;
	}
	&:hover {
		text-decoration: none;
		.modules-content__background {
			fill: rgb(255,255,255);
		}
	}
}
.modules-content__content {
	position: relative;
	z-index: 2;
	padding: 19px 25px 25px;
	text-align: center;
	h2 {
		color: $attention;
		text-shadow: 0 1px 0 rgba(255,255,255,0.2);
		display: block;
		margin: 9px 0 10px;
		padding: 0 20px;
		font-size: 2.2rem;
		text-align: center;
		font-family: 'PT Sans Bold', sans-serif;
		line-height: 26px;
	}
	p {
		margin: 0;
		line-height: 16px;
	}
	a {
		color: $base;
		&[href^="mailto:"] {
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
		}
	}
}
.modules-content__background {
	transition: all .3s ease;
	fill: rgb(239, 247, 213);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 278px;
	height: 100%;
}
.modules-content__interlude {
	bottom: -10px;
	left: 0;
	right: 0;
	width: 277px;
	height: 55px;
	position: absolute;
}
.modules-content__icon {
	display: block;
	width: 100%;
	background-size: auto auto;
	background-position: center center;
	background-repeat: no-repeat;
	width: 50px;
	height: 51px;
	margin: 0 auto;
}
@media screen and (max-width: 1199px) {
	#modules-bottom {
		&:before {
			width: 100%;
		}
	}
	.modules-content {
		width: 100%;
		transform: none;
	}
	.modules-content__content {
		padding: 11px 25px 20px;
		h2 {
			margin: 5px 0;
		}
	}
	.modules-content__module {
		width: 220px;
		&:not(:last-child) {
			margin-right: 9px;
		}
		&:not(:first-child) {
			margin-left: 9px;
		}
	}
	.modules-content__interlude {
		width: 220px;
		height: 44px;
	}
	.modules-content__background {
		width: 220px;
	}
}
@media screen and (max-width: 991px) {
	#modules-bottom {
		padding-top: 0;
		&:before {
			display: none;
		}
	}
	.modules-content__module {
		&:not(:last-child) {
			margin-right: 13px;
		}
		&:not(:first-child) {
			margin-left: 13px;
		}
	}
}
@media screen and (max-width: 767px) {
	.modules-content__module {
		float: none;
		margin: 15px auto;
		display: block;
		min-height: 0 !important;
		width: 278px;
		height: 211px;
		&:not(:last-child) {
			margin-right: auto;
		}
		&:not(:first-child) {
			margin-left: auto;
		}
	}
	.modules-content__interlude {
		bottom: 0;
		width: 277px;
		height: 55px;
	}
	.modules-content__background {
		width: 278px;
		height: 200px;
	}
}