#mod_calendar {
	p {
		&:first-child {
			margin: 0 0 17px;
		}
		span {
			display: block;
			font-family: 'PT Sans Bold', sans-serif;
		}
	}
}
#mod_login {
	.module__icon {
		background-image: url('../images/modules/login.png');
	}
	label {
		width: calc(100% - 139px);
		float: left;
		text-align: right;
		padding: 0 12px 0 0;
		margin: 0 0 6px;
		line-height: 36px;
	}
	input[type="text"], input[type="password"] {
		width: 139px;
		margin: 0 0 6px;
		float: left;
	}
	.user-avatar, .user-name {
		margin: 0 auto;
		a {
			margin: 2px 0 5px;
			color: rgb(248,255,226);
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
		}
	}
	.user-name-wrapper {
		text-align: center;
	}
}
#mod_stats {
	.statsCount, .stats-count {
		font-family: 'PT Sans Bold', sans-serif;
	}
	.module__icon {
		background-image: url('../images/modules/stats.png');
	}
}
#mod_kzk {
	.module__icon {
		background-image: url('../images/modules/kzk.png');
	}
}
#mod_location {
	.module__icon {
		background-image: url('../images/modules/location.png');
	}
}	
#mod_video {
	.module__icon {
		background-image: url('../images/modules/video.png');
	}
}	
#mod_newsletter {
	.module__icon {
		background-image: url('../images/modules/newsletter.png');
	}
}	
#mod_timetable {
	.module__icon {
		background-image: url('../images/modules/timetable.png');
	}
}		
#mod_gallery {
	.module__icon {
		background-image: url('../images/modules/gallery.png');
	}
}	
#mod_menu {
	.module__icon {
		background-image: url('../images/modules/menu.png');
	}
}	
#mod_programs {
	.module__icon {
		background-image: url('../images/modules/newsletter.png');
	}
}	
#mod_jokes {
	.module__icon {
		background-image: url('../images/modules/jokes.png');
	}
}	
#mod_contact {
	.module__icon {
		background-image: url('../images/modules/contact.png');
	}
}
#mod_forum {
	#modForum, .bolder {
		display: none;
	}
	.module__icon {
		background-image: url('../images/modules/forum.png');
	}	
}

#mod_calendar2 {
	padding-left: 15px; 
	padding-right: 15px;
	#calendarNews {
		position: relative;
	}
	.caption_nav_prev, .caption_nav_next {
		position: absolute;
		top: 0;
		z-index: 2;
		a {
			width: 32px;
			height: 34px;
			border: 3px solid #ff7e00;
			border-radius: 10px;
			background: #ff7e00;
			background: -moz-linear-gradient(to bottom, #ffc000 0%, #ff7f00 100%);
			background: -webkit-linear-gradient(to bottom, #ffc000 0%, #ff7f00 100%);
			background: -ms-linear-gradient(to bottom, #ffc000 0%, #ff7f00 100%);
			background: -o-linear-gradient(to bottom, #ffc000 0%, #ff7f00 100%);
			background: linear-gradient(to bottom, #ffc000 0%, #ff7f00 100%);
			box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.2);
		  	text-shadow: 0px 1px 0px rgba(255, 189, 0, 1);
		  	&:hover {
		  		background-position: 0 -28px;
		  	}
		  	&:before {
		  		@include centerImage();
		  		content: '';
		  		display: block;
		  		position: absolute;
		  		top: 46%;
		  		left: 50%;
		  		width: 10px;
		  		height: 12px;
		  		transform: translateX(-50%) translateY(-50%);
		  		z-index: 3;
		  		background-image: url('../images/modules/calendar-arrow.svg');
		  	}
		  	i {
		  		display: none;
		  	}
		}
	}
	.caption_nav_prev {
		left: 0;
		a {
			&:before {
				transform: translateX(-50%) translateY(-50%) rotate(180deg);
			}
		}
	}
	.caption_nav_next {
		right: 0;
		a {
		}
	}
	.calendar {
		width: 100%;
		margin: 0 auto;
		border: 0;
		table-layout: fixed;
		border-collapse: collapse;
		caption {
			text-align: center;
			line-height: 34px;
			font-size: 1.6rem;
			font-family: 'PT Sans Bold', sans-serif;
			color: currentColor;
			padding: 0 0 10px;
		}
		th, td {
			width: 32px;
			height: 32px;
			line-height: 32px;
			padding: 0;
			text-align: center;
			border-style: solid;
			border-color: $base;
			border-top-width: 0;
		}
		th {
			background-color: #6f3500;
			color: #e9ff7d;
			text-transform: capitalize;
			font-family: 'PT Sans Bold', sans-serif;
			border-left-width: 0;
			border-right-width: 0;
			border-bottom-width: 1px;
		}
		td {
			border-bottom-width: 0;
			border-left-width: 1px;
			border-right-width: 1px;
			border-style: solid;
			color: #fff;
			&.pr_day {
				color: #e9ff7d;
				background-color: #6f3500;
			}
			&.imp_day {
				a {
					display: block;
					background-color: #e9ff7d;
					color: #693400;
					font-family: 'PT Sans Bold', sans-serif;
					&:hover {
						background-color: #693400;
						color: #e9ff7d;
						text-decoration: none;
					}
				}
			}
		}
		tr {
			td {
				&:first-child {
					border-left: 0;
				}
				&:last-child {
					border-right: 0;
				}
			}
		}
	}
}

#mod_questionnaire {
	font-size: 1.3rem;
	.module-content {
		& > p {
			margin: 10px 0;
		}
	}
	form {
		position: relative;
		input[type="radio"] {
			width: 16px;
			height: 16px;
			margin: 0;
			padding: 0;
			position: absolute;
			& + label {
				position: relative;
				z-index: 2;
				padding-left: 25px;
				margin: 0 0 10px;
				max-width: 209px;
				cursor: pointer;
				.radio {
					display: none;
				}
				.label {
					padding: 0;
					font-size: 1.3rem;
					white-space: normal;
					border-radius: 0;
				}
				&:before {
					content: '';
					display: block;
					width: 16px;
					height: 16px;
					position: absolute;
					border-radius: 50%;
					border: 2px solid #586f23;
					background-color: #fff;
					left: 0;
					top: 0;
				}
				&:after {
					content: '';
					display: none;
					position: absolute;
					width: 8px;
					height: 8px;
					border-radius: 50%;
					background-color: #586f23;
					z-index: 2;
					left: 4px;
					top: 4px;
				}
			}
			&:checked {
				& + label {
					&:after {
						display: block;
					}
				}
			}
		}
	}
	.buttonWrapper {
		text-align: right;
	}
	fieldset {
		clear: both;
		& + input {
			float: right;
		}
	}
	.qPercent {
		color: #ffd200;
	}
}
#mod_weather {
	.module-content {
		text-align: center; 
		line-height: 1;
	}
	.weatherParam {
		ul {
			margin: 0; 
			padding: 0; 
			list-style-type: none;
			li {
				margin: 0 0 5px 0; 
				font-size: 1.3rem; 
				padding: 0;
			}
		}
		.weatherIco {
			margin-top: 25px; 
			margin-bottom: 25px;
		}
		.weatherLoc {
			font-size: 1.8rem;
		}
		.weatherTemp {
			font-size: 2.4rem; 
			font-family: 'PT Sans Bold', sans-serif;
		}
		.weatherTitle {
			display: none;
		}
		.weatherSource {
			margin-bottom: 0;
		}
	}
}
@media screen and (max-width: 1199px) {
	#mod_questionnaire {
		span {
			max-width: 150px;
		}
		form {
			input[type="radio"] {
				& + label {
					max-width: 175px;
				}
			}
		}
	}
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
	#mod_calendar2 {
		.calendar {
			th, td {
				width: 26px;
				height: 26px;
				line-height: 26px;
			}
		}
	}
}
@media screen and (max-width: 991px) {
	#mod_questionnaire {
		span {
			max-width: 100%;
		}
		form {
			input[type="radio"] {
				& + label {
					max-width: 303px;
				}
			}
		}
	}	
}
@media screen and (max-width: 767px) {
   #mod_calendar2 {
		#calendarNews {
	    	margin: 0 auto;
	    	max-width: 320px;
	    }
	}
	#mod_questionnaire {
		form {
			input[type="radio"] {
				& + label {
					max-width: 248px;
				}
			}
		}
	}	
}