#content_txt {
    .pagination-wrapper {
        margin: 30px 0;
        ul {
            font-size: 0;
            text-align: left;
            li {
                display: inline-block;
                vertical-align: top;
                text-align: center;
                width: 32px;
                height: 34px;
                padding: 0;
                position: relative;
                line-height: 34px;
                a {
                    width: 32px;
                    height: 34px;
                    display: block;
                    text-decoration: none;
                    color: #693400;
                    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2);
                    &:hover {
                        text-decoration: none;
                        div {
                            color: $base;
                        }
                        .pagination__background {
                            fill: $base;
                            stroke: $base;
                        }
                        .pagination__symbol {
                            fill: $base;
                        }
                    }
                    &.btn-first {
                        div[aria-hidden="true"]  {
                            .pagination__symbol {
                                transform: translateX(-50%) translateY(-50%) rotate(180deg);
                                left: calc(50% - 3px);
                            }
                            &:last-of-type {
                                .pagination__symbol {
                                    transform: translateX(-50%) translateY(-50%) rotate(180deg);
                                    left: calc(50% + 3px);
                                }
                            }
                        }
                    }
                    &.btn-prev {
                        .pagination__symbol {
                            transform: translateX(-50%) translateY(-50%) rotate(180deg);
                        }
                    }
                    &.btn-last {
                        div[aria-hidden="true"]  {
                            .pagination__symbol {
                                left: calc(50% - 3px);
                            }
                            &:last-of-type {
                                .pagination__symbol {
                                    left: calc(50% + 3px);
                                }
                            }
                        }
                    }
                }
                div {
                    &:not([aria-hidden="true"]) {
                        font-size: 1.4rem;
                        transition: all .3s ease;
                        font-family: 'PT Sans Bold', sans-serif;
                        position: relative;
                        z-index: 2;
                    }
                    &.page-active {
                        color: #f8ffe2;
                        text-shadow: 0px 1px 0 rgba(0,0,0,0.2);
                    }
                }
            }
        }
    }
}
.pagination__symbol {
    width: 10px;
    height: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    fill: rgb(105,52,0);
}
.pagination__background {
    position: absolute;
    transition: all .3s ease;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 32px;
    height: 34px;
    fill: rgb(255, 126, 0);
    stroke: rgb(255, 126, 0);
}