.sidebar {
	width: 251px;
	margin-bottom: 20px;
	input[type="text"], input[type="password"] {
		border: 0;
	}
}
.sidebar-menu {
	background-color: $attention;
	text-align: center;
	padding: 0 20px;	
	position: relative;
	z-index: 4;
	transform: translateY(-120px);
	margin-bottom: -120px;
	.border-decoration {
		width: 263px;
		height: 32px;
		display: block;
		position: absolute;
		left: -6px;
		right: -6px;
		z-index: 4;
		stroke: #ff7e00;
		&.top {
			top: -31px;
			transform: rotate(180deg);
		}
		&.bottom {
			bottom: -31px;
		}
	}
	h2 {
		margin: 20px 0 10px;
  		font-size: 2.2rem;
  		line-height: 26px;
  		color: #fffd79;
  		font-family: 'PT Sans Bold', sans-serif;
	}
	ul {
        float: none;
        border: 0;
        padding: 4px 0;
        border-radius: 0;
        box-shadow: none;
        position: static;
        background-color: transparent; 
        li {
            display: block;
        	a {
        		position: relative;
                font-size: 1.8rem;
                line-height: 22px;
                font-family: 'PT Sans Bold', sans-serif;
                padding: 10px 18px;
                width: 100%;
                color: #693400;
                display: block;
                text-align: center;
                text-shadow: 0px 1px 0px rgba(255, 189, 0, 1);
                &:hover, &.selected {
                    color: #fffd79;
                    text-decoration: none;
                }
                &:hover, &.selected, &:active, &:focus {
                	outline: 0 !important;
                }
            }
        }
        & > li {
        	li {
        		ul {
        			padding: 10px 0 20px;
        		}
        		& > a {
        			font-size: 1.6rem;
        			line-height: 18px;
        		}
        		li {
        			& > a {
						font-size: 1.4rem;
						line-height: 18px;
					}
        		}
        		a {
        			padding-top: 8px;
        		}
        	}
            &:not(:last-child) {
				a {
	            	&:before, &:after {
						content: '';
						display: block;
						position: absolute;
	                    transform: translateX(-50%) translateY(-50%);
	                    pointer-events: none;
	                    left: 50%;
	                    top: 100%;
	            	}
	                &:before {
	                    @include centerImage();
	                    width: 206px;
	                    height: 47px;
	                    z-index: 3;
	                    background-image: url('../images/toolbar/dropdown-menu-shadow.png');
	                }
	                &:after {
	                    width: 15px;
	                    height: 15px;
	                    z-index: 4;
	                    background-repeat: no-repeat;
	                    background-position: center center;
	                    background-image: url('../images/circle.svg');
	                }
				}
            }
        }
	}
}
.sidebar-modules {
	& > div {
		&:nth-child(3n+1) {
			& > .module {
				background-color: #75a111;
				.light--green {
					display: block;
				}
				.light--red {
					display: none;
				}
				.border-decoration {
					stroke: #75a111;
				}
			}
		}
		&:nth-child(3n+2) {
			& > .module {
				background-color: #95a111;
				.light--green {
					display: block;
				}
				.light--red {
					display: none;
				}
				.border-decoration {
					stroke: #95a111;
				}
			}
		}
		&:nth-child(3n+3) {
			& > .module {
				background-color: #c04604;
				color: #fcc5a7;
				.light--green {
					display: none;
				}
				.light--red {
					display: block;
				}
				.border-decoration {
					stroke: #c04604;
				}
			}
			#mod_questionnaire {
				.label {
					color: #fcc5a7;
				}
				.qBar {
					border-color: #ffd200;
					background-color: #fcc5a7;
				}
				form {
					label {
						&:before {
							border-color: $attention;
						}
						&:after {
							background-color: $attention;
						}
					}
				}
			}
			#mod_calendar2 {
				.calendar {
					th, td {
						border-color: #d75e1c;
					}
					th {
						background-color: #6f3500;
						color: #ff7e00;
					}
					td {
						color: #fcc5a7;
						&.pr_day {
							color: #ff7e00;
							background-color: #6f3500;
						}
						&.imp_day {
							a {
								background-color: #ff7e00;
								color: #693400;
								text-shadow: 0px 1px 0px rgba(255, 189, 0, 1);
								&:hover {
									background-color: #693400;
									color: $attention;
								}
							}
						}
					}
				}
			}
		}
	}
	.module {
		width: 251px;
		padding: 51px 21px 15px;
		position: relative;
		color: #e9ff7d;
		a {
			color: currentColor;
		}
		h2 {
			font-size: 2.2rem;
			line-height: 26px;
			font-family: 'PT Sans Bold', sans-serif;
			color: currentColor;
			margin: 0 0 16px;
			padding: 0;
			text-shadow: 0 1px 0 rgba(0,0,0,0.2);
			text-align: left;
		}
		.light--red, .light--green {
			z-index: 3;
			width: 180px;
			height: 72px;
			position: absolute;
			top: -8px;
			left: 50%;
			transform: translateX(-50%);
		}
		.border-decoration {
			display: block;
			position: absolute;
			pointer-events: none;
			width: 263px;
			transform: rotate(360deg);
			height: 36px;
			z-index: 4;
			bottom: -34px;
			left: -6px;
		}
		.module-content {
			position: relative;
			padding-right: 55px;
			min-height: 55px;
		}
		.module__icon {
			display: block;
			position: absolute;
			pointer-events: none;
			width: 55px;
			height: 55px;
			top: 0;
			right: 0;
			background-size: auto auto;
			background-position: right top;
			background-repeat: no-repeat;
		}
		&#mod_questionnaire {
			.module-content {
				padding-right: 0;
			}
			.label {
				color: currentColor;
			}
		}
		&#mod_calendar {
			.module-content {
				padding-right: 0;
				p {
					width: calc(100% - 80px);
				}
			}
			.clock-container {
				position: absolute;
				right: 0;
				top: 0;
			}
		}
		&#mod_login {
			.module-content {
				padding-right: 0;
			}
			input[type="text"], input[type="password"] {
				margin: 0 0 8px;
			}
			input[type="submit"] {
				float: right;
			}
		}
		&#mod_calendar2 {
			.module-content {
				padding-right: 0;
			}
		}
		&#mod_weather {
			.module-content {
				padding-right: 0;
			}
		}
		&#mod_contact {
			p {
				margin: 0;
			}
			a {
				text-decoration: underline;
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
}
@media screen and (max-width: 1199px) {
	.sidebar {
		width: 212px;
	}
	.sidebar-menu {
		.border-decoration {
			width: 222px;
			height: 27px;
			left: -5px;
			&.top {
				top: -27px;
			}
			&.bottom {
				bottom: -26px;
			}
		}
	}
	.sidebar-modules {
		.module {
			width: 212px;		
			.border-decoration {
				left: -5px;
				width: 222px;
				height: 30px;
				bottom: -29px;
			}
		}
	}
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
	.sidebar-modules {
		#mod_login {
			input[type="text"], input[type="password"] {
				width: 120px;
			}
			label {
				width: calc(100% - 120px);
			}
		}
	}
}
@media screen and (min-width: 992px) {
	.sidebar-modules {
		.module {
			height: auto !important;
		}
	}
}
@media screen and (max-width: 991px) {
	.sidebar {
		width: 100%;
	}
	.sidebar-menu {
		transform: none;
		margin: 20px 0;
		padding: 3px 15px;
		.border-decoration {
			display: none;
		}
	}
	.sidebar-modules {
		.module {
			width: 100%;
			.border-decoration {
				width: calc(100% + 16px);
				height: 49px;
				bottom: -49px;
				left: -8px;
			}
		}
	}
}
@media screen and (min-width: 768px) and (max-width: 991px) {
	.sidebar-modules {
		margin-top: 20px;
		margin-bottom: 60px;
		& > div {
			&:first-child, &:nth-child(2) {
				.module {
					padding-top: 20px;
					.light--green, .light--red {
						display: none !important;
					}
				}
			}
		}
		.module {
			text-align: center;
			h2 {
				text-align: center;
			}
			.module__icon {
				position: absolute;
				background-position: center center;
				right: 50%;
				transform: translateX(50%);
			}
			&.module-with-icon {
				.module-content {
					padding: 65px 0 0;
				}
			}
			&#mod_questionnaire {
				text-align: left;
			}
			&#mod_login {
				label {
					width: 100px;
				}
				input[type="text"], input[type="password"] {
					width: calc(100% - 100px);
				}
				input[type="submit"] {
					float: none;
				}
			}
			&#mod_calendar {
				.module-content {
					padding: 85px 0 0;
					p {
						width: 100%;
					}
				}
				.clock-container {
					right: 50%;
					transform: translateX(50%);
					padding: 9px 0 0;
				}
			}
		}
	}
}
@media screen and (max-width: 767px) {
	.sidebar-modules {
		margin-bottom: 50px;
		& > div {
			&:first-child {
				& > .module {
					padding-top: 20px;
				}
			}
		}
		.module {
			width: 290px;
			margin: 0 auto;
			height: auto !important;
			.light--green, .light--red {
				display: none;
			}
			.border-decoration {
				width: 304px;
				height: 41px;
				bottom: -41px;
				left: -7px;
			}
		}
	}
}