.toolbar {
	height: 49px;
	border-bottom: 3px solid $attention;
	background-color: #fdfff5;
	position: absolute;
	z-index: 5;
	width: 100%;
	left: 0;
	right: 0;

}
.toolbar__elements {
	font-size: 0;
	li {
		display: inline-block;
		font-size: 1.4rem;
		line-height: 46px;
		&.bip {
			svg {
				transform: translateY(5px);
			}
		}
		&.fontsize {
			margin: 0 4px;
			line-height: 16px;
			vertical-align: bottom;
			padding: 0 0 13px;
		}
		&.fontsize--label {
			vertical-align: middle;
			padding: 0;
			margin-right: 8px;
			transform: translateY(-4px);
		}
		&.contrast {
			a {
				width: 30px;
				height: 30px;
				background-size: 20px 20px;
				background-repeat: no-repeat;
				background-image: url('../images/toolbar/contrast.png');
				background-position: 5px 5px;
				vertical-align: middle;
				margin: 0 23px 0 12px;
				display: inline-block;
			}
		}
		&.searchbar {
			width: 235px;
			height: 34px;
			position: relative;
			top: 5px;
			form {
				display: block;
				height: 34px;
			}
			input[type="text"] {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				border: 0;
				z-index: 4;
				display: block;
				width: 235px;
				height: 34px;
				line-height: 34px;
				font-size: 1.3rem;
				border-radius: 10px;
				padding-right: 75px;
				box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.2);
			}
			button {
				right: 0;
				bottom: 0;
				z-index: 5;
				position: absolute;
				height: 34px;
				&:hover {
					background-position: 0 -28px;
				}
			}
		}
	}
}
.toolbar__elements--left {
	float: left;
	li {
		font-family: 'PT Sans Bold', sans-serif;
		color: #597308;
		&:not(:last-child) {
			margin-right: 29px;
			svg {
				display: inline-block;
				margin: 0 5px 0 0;
				transform: translateY(3px);	
			}
		}
		a {
			color: currentColor;
			&:hover {
				text-decoration: none;
				span {
					text-decoration: underline;
				}
			}
		}
	}
}
.toolbar__elements--right {
	float: right;
}
.toolbar__home--path1 {
	fill: #858585;
}
.toolbar__home--path2 {
	fill: #e47100;
}
.toolbar__home--path3 {
	fill: #d0f94e;
}
.toolbar__home--path4 {
	fill: #ff7e00;
}
.toolbar__sitemap--path1 {
	fill: #ff7e00;
}
.toolbar__sitemap--path2 {
	fill: #d0f94e;
}
.toolbar__bip--path1 {
	fill: #c00418;
}
.toolbar__font--path1 {
	fill: #597308;
}
@media screen and (max-width: 991px) {
	.toolbar {
		position: relative;
		.container {
			width: 100% !important;
		}
	}
	.toolbar__elements {
		li {
			&.fontsize {
				display: none;
			}
		}
	}
}
@media screen and (max-width: 767px) {
	.toolbar__elements {
		li {
			font-size: 0;
			&.searchbar {
				button {
					font-size: 1.4rem;
				}
			}
			&.bip {
				svg {
					transform: translateY(10px);
				}
			}
		}
	}
	.toolbar__elements--left {
		li {
			&:not(:last-child) {
				margin-right: 25px;
				svg {
					display: inline-block;
					margin: 0;
					transform: translateY(8px);	
				}	
			}
		}
	}
}
@media screen and (max-width: 479px) {
	.toolbar__elements {
		li {
			&.searchbar {
				width: 80px;
				input[type="text"] {
					display: none;
				}
				.show {
					input[type="text"] {
						display: block;
						left: auto;
					}
				}
			}
		}
	}
}