$base: #6b7450;
$attention: #ff7f01;
$color1: #693400;
* {
	outline-width: 0;
	&:focus {
		outline-width: 0;
	}
}
html, body {
	margin: 0; padding: 0; 
	min-width: 320px; 
	font-family: 'PT Sans', sans-serif; 
	color: $base; 
	-webkit-font-smoothing: antialiased;
}
html {
	font-size: 62.5%;
}
body {
	font-size: 1.4em; 
	overflow-x: hidden;
	background: #f8ffe2;
}
.page {
	position: relative;
	display: block !important;
	background: rgb(248,255,226);
	background: -moz-linear-gradient(to bottom, rgb(255,252,55) 0px, rgb(255,252,55) 50px, rgb(248,255,226) 400px);
	background: -webkit-linear-gradient(to bottom, rgb(255,252,55) 0px, rgb(255,252,55) 50px, rgb(248,255,226) 400px);
	background: -ms-linear-gradient(to bottom, rgb(255,252,55) 0px, rgb(255,252,55) 50px, rgb(248,255,226) 400px);
	background: -o-linear-gradient(to bottom, rgb(255,252,55) 0px, rgb(255,252,55) 50px, rgb(248,255,226) 400px);
	background: linear-gradient(to bottom, rgb(255,252,55) 0px, rgb(255,252,55) 50px, rgb(248,255,226) 400px);
}
img {
	max-width: 100%;
}
.label, label {
	white-space: normal;
	text-align: left;
	border-radius: 0;
	line-height: inherit;
	display: inline-block;
}
p, span, a, h2, h3 {
	max-width: 100%;
}
* {
	word-wrap: break-word;
	overflow-wrap: break-word;
}
input[type="radio"] {
	&:focus {
		outline: 2px solid #000 !important;
		outline-offset: 2px !important;
	}
}
.dropdown-backdrop {
	display: none;
}
form, fieldset {
	margin: 0; 
	padding: 0; 
	border: none;
}
legend {
	position: absolute; 
	left: -9000em;
}
input, select, textarea {
	font-size: 1.4rem; 
}
ul {
	margin: 0; 
	padding: 0; 
	list-style: none;
}
a {
	display: inline-block;
	transition: all .3s ease-in-out; 
	&:hover, &:focus {
		color: currentColor;
	}
	&:focus {
		text-decoration: none;
	}
	&[href^="mailto:"] {
		word-break: break-all;
	}
}
.button, button[type="submit"], a.button, .butForm, .questionnaire .btnForm {
	transition: all .3s ease;
	border: 3px solid #ff7e00;
	border-radius: 10px;
	font-size: 1.4rem;
	line-height: 18px;
	min-height: 35px;
	padding: 6px 8px 5px;
	text-align: center;
	background: -moz-linear-gradient(to bottom, #ffc000 0%, #ff7f00 100%);
	background: -webkit-linear-gradient(to bottom, #ffc000 0%, #ff7f00 100%);
	background: -ms-linear-gradient(to bottom, #ffc000 0%, #ff7f00 100%);
	background: -o-linear-gradient(to bottom, #ffc000 0%, #ff7f00 100%);
	background: linear-gradient(to bottom, #ffc000 0%, #ff7f00 100%);
	background-color: #ff8300;
	box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.2);
  	text-shadow: 0px 1px 0px rgba(255, 189, 0, 1);
	text-transform: uppercase;
	color: $color1 !important;
	font-family: 'PT Sans Bold', sans-serif;
	text-decoration: none !important;
	&:hover {
		background-position: 0 -29px;
		text-decoration: none;
	}
}
blockquote {
	border-left-color: $base;
	font-size: 1.4rem;
}
.skip-links {
    position: absolute;
    top: 0;
	a, a:visited {
	    display: inline-block;
	    left: -9999px;
	    padding: 7px 10px;
	    position: absolute;
	    text-decoration: none;
	    z-index: 100;
	    min-width: 200px;
	    text-align: center;
	    -webkit-transition: opacity 0.3s ease 0s;
	    transition: opacity 0.3s ease 0s;
	    opacity: 0;
		&:focus, &:hover, &:active {
		    left: 0;
		    background-color: $base;
		    color: #fff;
		    opacity: 1;
		    outline: none;
		}
	}
}
.no-outline {
    outline: none !important;
}

a, button, .menu-top .navbar-toggl, .dropdown-toggle {
	&:focus {
	    outline: thin dotted;
	    outline: 5px auto -webkit-focus-ring-color;
	    outline-offset: -2px;
	}
}
[data-whatinput='keyboard'] *:focus {
	outline: 2px solid #000 !important;
	outline-offset: 0 !important;
	display: inline-block;
	opacity: 1 !important;
}
[data-whatinput='keyboard'] .sidebar-menu li a:focus {
	outline: 0 !important;
	outline-width: 0 !important;
	box-shadow: 0px 0px 0px 1px #000;
}
h3 {
	margin-top: 2rem; 
	margin-bottom: 1rem; 
	font-size: 2.4rem;
}
h4, h5, h6 {
	margin-top: 1rem; 
	margin-bottom: 1rem; 
}
h4 {
	font-size: 1.8rem;
}
h5 {
	font-size: 1.4rem;
}
h6 {
	font-size: 1.2rem;
}
#content_txt {
	table {
		margin: 10px 0;
	}
	h1, h2, h3, h4, h5, h6 {
		color: #75a111;
		font-family: 'PT Sans Bold', sans-serif;
		text-align: center;
	}
	.main-text {
		a {
			color: $attention;
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
		}
		.article {
			a {
				text-decoration: none;
			}
		}
		.button-wrapper {
			a {
				color: #e67100;
				text-decoration: none;
			}
		}
		h1, h2, h3, h4, h5, h6 {
			color: #75a111;
			font-family: 'PT Sans Bold', sans-serif;
			text-align: left;
		}
		h3 {
			font-size: 2.4rem;
		}
		h6 {
			font-size: 1.6rem;
		}
		h5 {
			font-size: 1.8rem;
		}
		h4 {
			font-size: 2rem;
		}
		h2 {
			margin: 15px 0;
			font-size: 2.7rem;
		}
	}
	.content-header {
		font-size: 2.6rem !important;
		color: #75a111 !important;
		font-family: 'PT Sans Bold', sans-serif;
		position: relative;
		padding: 16px 0 16px;
		text-align: center !important;
		overflow: hidden;
		margin: 0 0 20px;
		&:before {
			@include centerImage();
			content: '';
			display: block;
			position: absolute;
			bottom: 0;
			left: 50%;
			width: 847px;
			height: 55px;
			pointer-events: none;
			transform: translateX(-50%);
			background-image: url('../images/header-decoration.png');
		}
		span {
			position: relative;
			z-index: 2;
		}
	}
    #welcome {
        padding: 0 0 20px 0;
        a {
            color: $attention;
            text-decoration: underline;
            &:hover {
            	text-decoration: none;
            }
        }
    }
    img {
        overflow: hidden; 
        height: auto;
    }
    table {
        width: 100%;
    }
    .authorName {
        margin: 30px 0;
    }
    .authorName span {
        font-weight: normal;
    }
    iframe {
        border: 2px solid $attention; 
        max-width: 100%; 
        box-sizing: border-box;
    }
    .Tweet, .FBLike {
        display: inline-block;
        vertical-align: top;
        margin: 5px 0;
        iframe {
            border: none;
        }
    }
    iframe ~ small {
        text-align: center;
        display: block;
        font-family: 'PT Sans Bold', sans-serif;
        a, a:visited {
            color: $base !important; 
            text-decoration: none !important;
        }
        a:hover {
            color: $base !important; 
            text-decoration: underline !important;
        }
    }
}
#flashclock {
	display: none;
}
input[type=text],
input[type=search],
input[type=password],
input[type=submit],
textarea,
button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
input[type=text],
input[type=search],
input[type=password],
textarea {
	color: #597308;
	font-size: 14px;
	border: 1px solid #ccc;
	border-radius: 10px;
	padding: 0 10px;
	box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.2);
}
input[type=text],
input[type=search],
input[type=password] {
	height: 36px;
	line-height: 34px;
}
textarea {
	line-height: 18px;
	padding: 10px;
}
.dropdown-menu {
	& > li {
		& > a {
			white-space: normal;
			&:focus, &:hover {
				background: transparent;
			}
		}
	}
}
table {
	width: 100%; 
	table-layout: fixed;
	border-collapse: collapse; 
	border: 1px solid $base;
	th {
		font-weight: normal; 
		padding: 5px; 
		background: $base;
		color: #fff;
	}
	td {
		color: $base; 
		padding: 5px; 
		border: 1px solid $base;
	}
	caption {
		font-weight: normal; 
		padding: 5px 0;  
		color: $base;
		text-transform: uppercase;
	}
}
.page-content-mobile, a#top {
	display: none;
}
.page-content {
	padding-top: 0;
}
div[aria-hidden="true"] {
	display: inline;
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
    html {
    	font-size: 58.25%;
    }
}
@media screen and (max-width: 991px) {
	.page-content-mobile {
		display: block;
	}
	.sm-offset-center {
		float: none;
		margin: 0 auto;
	}
}
@media screen and (max-width: 767px) {
    .table-responsive {
    	border: 0;
    }
    #content_txt img {
        max-width: 100% !important;
    }
}