@mixin clearfix {
	&:before, &:after {
			content: " ";
			display: table;
	}
	&:after {
		clear: both;
	}
}
@mixin centerImage() {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}